.ikf-card-wrapper {
  perspective: 1000px;
}

.ikf-card {
  position: relative;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  will-change: transform;
}

.ikf-card-wrapper:hover .ikf-card {
  transform: rotateY(180deg);
}

.ikf-card > * {
  backface-visibility: hidden;
}

.ikf-card-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  border-radius: 10px;
  padding: 2rem 1.5rem;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}