{% extends 'base.html' %} {% load static %} 

{% block title %}IKF Centre of Excellence (IKF-CoE) | Transform Your Academy into a Football Powerhouse{% endblock title %}

{% block meta_description %}Unleash the potential of your academy with the IKF Centre of Excellence (IKF-CoE) program. Elevate talent scouting, player development, and industry certification. Join the movement to shape the future of Indian football with IKF's expert guidance and certification programs.{% endblock meta_description%}

{% block meta_keywords %}IKF Centre of Excellence, football academy, talent scouting, football development, scouting certification, player development, football training, Indian football, IKF-CoE, sports certification, football career, football academy partnership{% endblock meta_keywords%} 

{% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content">
    <div style="height: 120px; background-color: white;"></div>

    <!-- contact area -->
    <div class="container m-t40">
        <div class="section-content">
            <div class="text-justify">
                <div class="col-lg-12 text-center section-head m-0">
                    <h1 class="h4">desportz - IKF Centre of Excellence (IKF-CoE) Program
                    </h1>
                    <div class="dez-separator bg-primary"></div>
                </div>

                <div class="d-flex flex-row justify-content-center flex-wrap flex-md-nowrap">
                    <img loading="lazy"   src="https://res.cloudinary.com/dooabwrei/image/upload/v1723636188/images_vi6u5j.jpg" alt="desportz" style="width: 150px; height: 150px; border-radius: 100% ; margin-right: 10px;"/>
                    <div>
                        <p class="m-0 mb-3">India’s first CoE was launched with desportz to provide an overall ecosystem for a scout to undergo Level 1 and 2 IKF Scouting certification at desportz Vadodara Centre where potential scouts will get hands-on experience to become IKF Certified Scout. For the first time in India IKF along with desportz is launching an onsite Instructor led course where you will learn Scouting via classroom session and on site IKF Vadodara Trials. Apart from that IKF has partnered with desportz to provide 11 months PGP certification in Sports Marketing and 3 month certification program in sports marketing. 
                        </p>
                        <a class="m-0 text-info font-weight-bold" href="https://desportz.org/" target="_blank" rel="noopener noreferrer">Visit Website</a>
                    </div>
                </div>

                <p class="h6 mt-3 text-dark">IKF Level 1 and 2 Scouting Certification</p>
                <p>Indian football is at a very interesting juncture, where we are seeing corporates and foreign clubs lining up to have a stake in its development. However, at the end of the day it is the talent which is going to take Indian Football ahead; not just talent – “Right Talent”. This right talent has to be identified at the right time and for that IKF is developing a strong Grassroots Scouting Ecosystem in India. IKF has built a platform from scratch that helps the ecosystem identify the top talent of our nation. IKF has built the following blocks to create this ecosystem in India:
                </p>

                <p class="h6 text-dark">Preface</p>
                <p>
                    Certification Programs imparted by the best in the world
                    Develop a community for scouts in India that is working towards development of the sport of football in India.</br>
                    Make Scouting a means of livelihood even at the grassroots and youth level by providing our Trained Scouts with earning opportunities.</br>
                    Launching a certification program that serves best the Indian market, creating World-class Scouts. IKF brings them various live projects and earning opportunities to hone their skills in learning the Talent Identification process.</br>
                    For the first time in India, IKF along with desportz is launching an onsite Instructor led course where you will learn Scouting via classroom session and on site IKF Vadodara Trials
                </p>

                <p class="h6">Course Structure</p>
                <ul class="ml-4">
                    <li>Course Introduction</li>
                    <li>Instructor Introduction</li>
                    <li>Introduction to IKF</li>
                    <li>Scouting Primer</li>
                    <li>Scouting Lexicon</li>
                    <li>Talent Discernment</li>
                    <li>Key Assessment Verticals</li>
                    <li>Talent Spotting Technique</li>
                    <li>Talent Identification Markers</li>
                    <li>Reports Writing</li>
                </ul>

                <p class="h6">Course Duration</p>
                <p class="text-left">It will be a 3 day course that will happen at <span class="font-weight-bold">desportz COE in Vadodara</span></p>

                <div class="mb-5">
                    <p class="h5">How to Register</p>
                <p class="text-left" >You can register by filling the <a class="px-2 text-info font-weight-bold" href="https://mail.google.com/mail/?view=cm&fs=1&to=marketing@desportz.org" target="_blank" rel="noopener">marketing@desportz.org</a></br>
                    If you have any query we are just a call away: <a class="px-2 text-info font-weight-bold" href="callto://06354902394">+91-6354902394</a>
                </p>

                <p class="h5 mb-4 mt-4 text-left">Mail Us: <a class="text-info" href="https://mail.google.com/mail/?view=cm&fs=1&to=ikfcoe@indiakhelofootball.com" target="_blank" rel="noopener">ikfcoe@indiakhelofootball.com</a></p>

                <a class="site-button text-dark mr-0 mr-sm-3 mb-3 mb-sm-0 " href="/main/media/ui/download/FAQs-CoE-at-Desportz.pdf" download="desportz-marketing-certificate.pdf">FAQs</a>
                </div>

                <hr/>

                <div class="col-lg-12 text-center section-head m-0 mt-5">
                    <h2 class="h4">Sports Marketing Program
                    </h2>
                    <div class="dez-separator bg-primary"></div>
                </div>

                <p>IKF has partnered with desportz to provide 11 months PGP Sports Marketing Certification and 3 months sports marketing certification to provide any sports enthusiast with first hand learning experience in this field and at the same time you can gain industry knowledge while interning with organisations such as IKF
                </p>

                <div class="text-center mb-5">
                    <p class="h6 mb-5">To know more please find attached PDF of both the courses</p>

                    <section class="d-flex flex-wrap align-items-center justify-content-center">
                        <a style="width: 320px;" href="/main/media/ui/download/desportz-marketing-certificate.pdf" download="desportz-marketing-certificate.pdf" class="border rounded-lg overflow-hidden shadow d-flex flex-column align-items-center justify-content-center mb-5 mr-0 mr-lg-5">
                            <img loading="lazy"  style="width: 320px;" src="https://res.cloudinary.com/dooabwrei/image/upload/v1725449411/Pi7compressedSportsMarketingCertificate_page-0001_xainiv.jpg" alt=" IKF Desportz Sports Marketing Certificate Preview"/>
                            <p style="width: 320px; height: 50px; font-size: 18px; font-weight: bold;" class="site-button text-dark m-0" >Sports Marketing Certificate</p>
                        </a>

                        <a style="width: 320px;" href="/main/media/ui/download/desportz-pg-program.pdf" download="desportz-pg-program.pdf" class="border rounded-lg overflow-hidden shadow d-flex flex-column align-items-center justify-content-center mb-5">
                            <img loading="lazy" style="width: 320px;" src="https://res.cloudinary.com/dooabwrei/image/upload/v1725449411/Pi7compressedPGProgram_page-0001_esjfzr.jpg" alt="Desportz India Khelo Football PG Course" />
                            <p style="width: 320px; height: 50px; font-size: 18px; font-weight: bold;" class="site-button text-dark m-0" >Sports PG Program</p>
                        </a>
                    </section>
                </div>
                
                <!-- Desporttz Contact Form  -->
                <div class="container mt-4 mb-4">
                    <h2>Contact Us</h2>
                    <div class="d-flex flex-row">
                        <div class="flex-grow-1 gap-3 mr-0 mr-lg-3">
                            <form id="desportz-contact-form" method="post" action="{% url 'desportz-ikf-coe' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="{{ contact_form.name.id_for_label }}">Name</label>
                                    <input type="text" name="{{ contact_form.name.html_name }}" id="{{ contact_form.name.id_for_label }}" value="{{ contact_form.name.value|default:'' }}" class="form-control">
                                    <p style="color: red; font-size: small;">{{ contact_form.name.errors }}</p>
                                </div>
                                <div class="form-group">
                                    <label for="{{ contact_form.email.id_for_label }}">Email</label>
                                    <input type="email" name="{{ contact_form.email.html_name }}" id="{{ contact_form.email.id_for_label }}" value="{{ contact_form.email.value|default:'' }}" class="form-control">
                                    <p style="color: red; font-size: small;">{{ contact_form.email.errors }}</p>
                                </div>
                                <div class="form-group">
                                    <label for="{{ contact_form.message.id_for_label }}">Message</label>
                                    <textarea name="{{ contact_form.message.html_name }}" id="{{ contact_form.message.id_for_label }}" class="form-control">{{ contact_form.message.value|default:'' }}</textarea>
                                    {{ contact_form.message.errors }}
                                </div>
                                <button type="submit" class="site-button text-dark mb-3" id="submit-button">Submit</button>
                            </form>
                            <div id="response-message"></div>
                        </div>
    
                        <img loading="lazy" style="width: 50%; height: 350px;" class="d-none d-lg-inline rounded" src="https://media.istockphoto.com/id/1574297861/photo/football-men-and-exercise-with-action-field-and-wellness-with-workout-goal-fitness-and.webp?b=1&s=612x612&w=0&k=20&c=GbyQKeWrPAJP38luSM9cXVCixVHxCT8jO4CJtwUr7i8=" alt="image" />
                    </div>
                </div> 
            </div>
        </div>
    </div>
        <!-- contact area END -->
</div>
    <!-- Content END-->

    <script src="{% static 'js/desportz.js' %}"></script>
    {% endblock content %}
