{% extends 'base.html' %}
{% load static %}



{% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content">
	<!-- inner page banner -->
	<div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
		<div class="container">
			<div class="dez-bnr-inr-entry">
				<h1 class="text-white">Faq 2</h1>
			</div>
		</div>
	</div>
	<!-- inner page banner END -->
	<!-- Breadcrumb row -->
	<div class="breadcrumb-row">
		<div class="container">
			<ul class="list-inline">
				<li><a href="#">Home</a></li>
				<li>Faq 2</li>
			</ul>
		</div>
	</div>
	<!-- Breadcrumb row END -->
	<!-- contact area -->
	<div class="section-full content-inner bg-white">
		<!-- Faq -->
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<h2 class="m-b10 m-t0">General Questions</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
						the.</p>
					<div class="accordion space" id="accordion1">
						<div class="panel">
							<div class="acod-head">
								<h6 class="acod-title">
									<a data-toggle="collapse" href="#collapseOne1">
										<i class="fa fa-question-circle"></i> Can I Get A Refund?
									</a>
								</h6>
							</div>
							<div id="collapseOne1" class="acod-body collapse show" data-parent="#accordion1">
								<div class="acod-content">Web design aorem apsum dolor sit amet, adipiscing elit, sed
									diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas
									est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
									nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
									volutpat.Claritas est etiam processu</div>
							</div>
						</div>
						<div class="panel">
							<div class="acod-head">
								<h6 class="acod-title">
									<a data-toggle="collapse" href="#collapseTwo1" class="collapsed">
										<i class="fa fa-question-circle"></i> Showcase Items with a Referral Widget
									</a>
								</h6>
							</div>
							<div id="collapseTwo1" class="acod-body collapse" data-parent="#accordion1">
								<div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing elit,
									sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
									Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit,
									sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
									volutpat.Claritas est etiam processus.</div>
							</div>
						</div>
						<div class="panel">
							<div class="acod-head">
								<h6 class="acod-title">
									<a data-toggle="collapse" href="#collapseThree1" class="collapsed">
										<i class="fa fa-question-circle"></i> Where Can I Find my Purchase Code?
									</a>
								</h6>
							</div>
							<div id="collapseThree1" class="acod-body collapse" data-parent="#accordion1">
								<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed
									diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas
									est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
									nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
									volutpat.Claritas est etiam processus.</div>
							</div>
						</div>
						<div class="panel">
							<div class="acod-head">
								<h6 class="acod-title">
									<a data-toggle="collapse" href="#collapseFor1" class="collapsed">
										<i class="fa fa-question-circle"></i> Showcase Items with a Referral Widget
									</a>
								</h6>
							</div>
							<div id="collapseFor1" class="acod-body collapse" data-parent="#accordion1">
								<div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing elit,
									sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
									Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit,
									sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
									volutpat.Claritas est etiam processus.</div>
							</div>
						</div>
						<div class="panel">
							<div class="acod-head">
								<h6 class="acod-title">
									<a data-toggle="collapse" href="#collapseFive1" class="collapsed">
										<i class="fa fa-question-circle"></i> Where Can I Find my Purchase Code?
									</a>
								</h6>
							</div>
							<div id="collapseFive1" class="acod-body collapse" data-parent="#accordion1">
								<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed
									diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas
									est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
									nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
									volutpat.Claritas est etiam processus.</div>
							</div>
						</div>
					</div>
					<div class="m-b30">
						<h2 class="m-b10">Popular articles</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							been the.</p>
						<div class="accordion space" id="accordion2">
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#collapseOne2">
											<i class="fa fa-question-circle"></i> Can I Get A Refund?
										</a>
									</h6>
								</div>
								<div id="collapseOne2" class="acod-body collapse show" data-parent="#accordion2">
									<div class="acod-content">Web design aorem apsum dolor sit amet, adipiscing elit,
										sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
										Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing
										elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
										erat volutpat.Claritas est etiam processu</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#collapseTwo2" class="collapsed">
											<i class="fa fa-question-circle"></i> Showcase Items with a Referral Widget
										</a>
									</h6>
								</div>
								<div id="collapseTwo2" class="acod-body collapse" data-parent="#accordion2">
									<div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing
										elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat
										volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer
										adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
										aliquam erat volutpat.Claritas est etiam processus.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#collapseThree2" class="collapsed">
											<i class="fa fa-question-circle"></i> Where Can I Find my Purchase Code?
										</a>
									</h6>
								</div>
								<div id="collapseThree2" class="acod-body collapse" data-parent="#accordion2">
									<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit,
										sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
										Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing
										elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
										erat volutpat.Claritas est etiam processus.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#collapseFor2" class="collapsed">
											<i class="fa fa-question-circle"></i> Showcase Items with a Referral Widget
										</a>
									</h6>
								</div>
								<div id="collapseFor2" class="acod-body collapse" data-parent="#accordion2">
									<div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing
										elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat
										volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer
										adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
										aliquam erat volutpat.Claritas est etiam processus.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#collapseFive2" class="collapsed">
											<i class="fa fa-question-circle"></i> Where Can I Find my Purchase Code?
										</a>
									</h6>
								</div>
								<div id="collapseFive2" class="acod-body collapse" data-parent="#accordion2">
									<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit,
										sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
										Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing
										elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
										erat volutpat.Claritas est etiam processus.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="m-b30">
						<h2 class="m-b10">General Questions</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							been the.</p>
						<div class="accordion space" id="accordion3">
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#collapseOne3">
											<i class="fa fa-question-circle"></i> Can I Get A Refund?
										</a>
									</h6>
								</div>
								<div id="collapseOne3" class="acod-body collapse show" data-parent="#accordion3">
									<div class="acod-content">Web design aorem apsum dolor sit amet, adipiscing elit,
										sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
										Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing
										elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
										erat volutpat.Claritas est etiam processu</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#collapseTwo3" class="collapsed">
											<i class="fa fa-question-circle"></i> Showcase Items with a Referral Widget
										</a>
									</h6>
								</div>
								<div id="collapseTwo3" class="acod-body collapse" data-parent="#accordion3">
									<div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing
										elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat
										volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer
										adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
										aliquam erat volutpat.Claritas est etiam processus.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#collapseThree3" class="collapsed">
											<i class="fa fa-question-circle"></i> Where Can I Find my Purchase Code?
										</a>
									</h6>
								</div>
								<div id="collapseThree3" class="acod-body collapse" data-parent="#accordion3">
									<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit,
										sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
										Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing
										elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
										erat volutpat.Claritas est etiam processus.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#collapseFor3" class="collapsed">
											<i class="fa fa-question-circle"></i> Showcase Items with a Referral Widget
										</a>
									</h6>
								</div>
								<div id="collapseFor3" class="acod-body collapse" data-parent="#accordion3">
									<div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing
										elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat
										volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer
										adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
										aliquam erat volutpat.Claritas est etiam processus.</div>
								</div>
							</div>
							<div class="panel">
								<div class="acod-head">
									<h6 class="acod-title">
										<a data-toggle="collapse" href="#collapseFive3" class="collapsed">
											<i class="fa fa-question-circle"></i> Where Can I Find my Purchase Code?
										</a>
									</h6>
								</div>
								<div id="collapseFive3" class="acod-body collapse" data-parent="#accordion3">
									<div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit,
										sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
										Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing
										elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
										erat volutpat.Claritas est etiam processus.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Right part start -->
				<div class="col-lg-3">
					<div class="icon-bx-wraper bx-style-1 p-a30 center m-b30">
						<div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#"
								class="icon-cell"><i class="fa fa-user"></i></a> </div>
						<div class="icon-content">
							<h5 class="dez-tilte text-uppercase">Recent Highlights</h5>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
								[...]</p>
						</div>
					</div>
					<div class="icon-bx-wraper bx-style-1 p-a30 center m-b30">
						<div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#"
								class="icon-cell"><i class="fa fa-building-o"></i></a> </div>
						<div class="icon-content">
							<h5 class="dez-tilte text-uppercase">Recent Highlights</h5>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
								[...]</p>
						</div>
					</div>
					<div class="icon-bx-wraper bx-style-1 p-a20 m-b30 left">
						<div class="icon-bx-xs text-primary bg-white radius border-2 "> <a href="#" class="icon-cell"><i
									class="fa fa-code"></i></a> </div>
						<div class="icon-content">
							<h5 class="dez-tilte text-uppercase">Content title</h5>
							<p>Lorem ipsum dolor sit elit nonummy dolor is euismod end [...]</p>
						</div>
					</div>
				</div>
				<!-- Right part start END -->
			</div>
		</div>
		<!-- Faq END -->
	</div>
	<!-- contact area  END -->
</div>
<!-- Content END-->
{% endblock content %}