<div class="ikf-card-wrapper">
  <div class="ikf-card">
  <div class="ikf-box">
    <div class="ikf-season-label">
      <p class="ikf-card-title">{{ title }}</p>
      <p class="ikf-card-year">{{ year }}</p>
    </div>
    <div class="ikf-season-desc">
      <p class="ikf-card-text">{{ description }}</p>
    </div>
  </div>
  <div class="ikf-card-stats">
    <div>
      <span>{{ cities }}</span>
      <small>Cities</small>
    </div>
    <div>
      <span>{{ participants }}</span>
      <small>Participants</small>
    </div>
    <div>
      <span>{{ shortlisted }}</span>
      <small>Shortlisted</small>
    </div>
    <div>
      <span>{{ clubs }}</span>
      <small>Clubs</small>
    </div>
  </div>
  <div class="ikf-card-back">
  <div class="ikf-card-back-content">
    <p><strong>More Insights Coming Soon!</strong></p>
  </div>
</div>
</div>
</div>
