{% extends 'base.html' %} {% load static %} 

{% block title %}IKF Centre of Excellence (IKF-CoE) | Transform Your Academy into a Football Powerhouse{% endblock title %}

{% block meta_description %}Unleash the potential of your academy with the IKF Centre of Excellence (IKF-CoE) program. Elevate talent scouting, player development, and industry certification. Join the movement to shape the future of Indian football with IKF's expert guidance and certification programs.{% endblock meta_description%}

{% block meta_keywords %}IKF Centre of Excellence, football academy, talent scouting, football development, scouting certification, player development, football training, Indian football, IKF-CoE, sports certification, football career, football academy partnership{% endblock meta_keywords%} 

{% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content">
    <div style="height: 120px; background-color: white;"></div>
    <!-- <div class="dez-bnr-inr overlay-black-middle" style="background-image:url('https://cdn.firstcry.com/education/2022/05/04111910/522565846.jpg');">
        <div class="container">
            <div class="dez-bnr-inr-entry">
                <h1 class="text-white">IKF Centre of Excellence (IKF-CoE) Program
                </h1>
            </div>
        </div>
    </div>

    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>IKF-CoE</li>
            </ul>
        </div>
    </div> -->

    <!-- contact area -->
    <div class="container m-t70">
        <div class="section-content">
            <div class="text-justify">
                <div class="col-lg-12 text-center section-head m-0">
                    <h2 class="h4">IKF Centre of Excellence (IKF-CoE) Program
                    </h2>
                    <div class="dez-separator bg-primary"></div>
                </div>
                
                <h4>
                    Unleash the Powerhouse of Football Talent & Expertise at Your Academy/Institute
                </h4>

                <p>
                    Picture this: your academy or institute transformed into a vibrant hub, not just for aspiring players, but also for the future leaders of football scouting and development. Imagine a space buzzing with energy, where raw talent is discovered, nurtured, and the art of recognizing potential is mastered. Welcome to the exhilarating world of IKF-CoE, where your academy's potential is unleashed.
                </p>

                <h3>
                    What IKF Offers: Ignite Your Academy's Evolution
                </h3>

               
                <ul>
                    <li class="mb-1 font-weight-bold">
                        Talent Scouting & Identification: Beyond Boundaries
                    </li>
                    <ul class="ml-3 mb-3 ">
                        <li>Your academy/institute becomes a magnet for talent assessment, drawing in players hungry to make their mark on the professional stage.
                        </li>
                        <li>Gain access to in-depth assessment reports on every evaluated player, expanding your talent pool exponentially.
                        </li>
                        <li>Unlock personalised player profiles, giving you a strategic edge in recruitment and expansion decisions.
                        </li>
                    </ul>
                    
                    <li class="mb-1 font-weight-bold">
                        Advisory Services: Empowering Aspiring Stars
                    </li>
                    <ul class="ml-3 mb-3 ">
                        <li>Establish your academy/institute as the go-to source for expert guidance on navigating a successful football career.
                        </li>
                        <li>Your coaches become mentors, equipped to provide invaluable advice on training, nutrition, mental resilience, and career pathways – not just to your players, but to any aspiring footballer or scout seeking wisdom.
                        </li>
                    </ul>

                    <li class="mb-1 font-weight-bold">
                        Level 1 & Level 2 Scouting Certification: Nurturing the Next Generation
                    </li>
                    <ul class="ml-3 mb-3 ">
                        <li>Your academy/institute becomes a certified training ground for IKF's renowned Level 1 & Level 2 Scouting programs, attracting eager learners from far and wide.
                        </li>
                        <li>Deliver a dynamic, hands-on training experience that empowers participants with the skills to identify and evaluate players like seasoned professionals.
                        </li>
                        <li>Unlock new revenue streams by hosting these prestigious certification courses and related events.
                        </li>
                    </ul>
                </ul>

                <h4>Your Role: Shaping the Future of Football</h4>

                <ul>
                    <li class="mb-1 font-weight-bold ">
                        Player Development & Community Engagement: A Flourishing Ecosystem
                    </li>
                    <ul class="ml-3 mb-3">
                        <li>Embrace IKF's proven curriculum and training methods to create an environment where your players thrive and new talent flocks to your academy's reputation for excellence.
                        </li>
                        <li>Watch your community engagement soar as your academy/institute becomes synonymous with football development, attracting players, scouts, and passionate fans alike.
                        </li>
                    </ul>
                </ul>

                <h4>Why Partner with IKF-CoE: Elevate Your Game</h4>
                <ul class="mb-1">
                    <li><span class="font-weight-bold">Become a Talent & Knowledge Powerhouse: </span>Position your academy/institute as the ultimate destination for aspiring players and scouts, fostering a vibrant football community.</li>
                    <li><span class="font-weight-bold">Expand Your Reach & Influence: </span>Forge connections with a wider network of talent and industry professionals, opening doors to exciting new opportunities.</li>
                    <li><span class="font-weight-bold">Diversify Your Revenue Streams: </span>Tap into multiple income sources through talent assessment services, advisory programs, and hosting sought-after scouting certification courses.</li>
                </ul>

                <h3 >Join the Movement: Unleash Your Academy's Full Potential</h3>
                <p class="mb-2">
                    Ready to transform your academy/institute into the epicentre of football knowledge and talent in your region? Let's embark on this exciting journey together!
                </p>
                <p class="font-weight-bold h6 text-left">Contact Us Today:  <a class="text-info " href="https://mail.google.com/mail/?view=cm&fs=1&to=ikfcoe@indiakhelofootball.com" target="_blank" rel="noopener">ikfcoe@indiakhelofootball.com</a>
                </p>

                <!-- <div class="col-lg-12 text-center section-head mt-4 mb-0">
                    <h2 class="h4">OUR IKF CoE Partners
                    </h2>
                    <div class="dez-separator bg-primary"></div>
                </div> -->

                <!-- <div class="mb-3 d-flex flex-row  border p-3 rounded-lg justify-content-center flex-wrap flex-md-nowrap">
                    <img loading="lazy" loading="lazy" src="https://res.cloudinary.com/dooabwrei/image/upload/v1723636188/images_vi6u5j.jpg" alt="Desportz" style="width: 150px; height: 150px; border-radius: 100% ; margin-right: 10px;"/>
                    <div class="flex-grow-1">
                        <section class="d-flex align-items-center justify-content-between mb-2">
                            <h3 class="m-0 mr-3 ">Desportz</h3>
                            <a class="m-0 text-info font-weight-bold" href="https://desportz.org/" target="_blank" rel="noopener noreferrer">Visit Website</a>
                        </section>
                        <p>India’s first CoE was launched with desportz to provide an overall ecosystem for a scout to undergo Level 1 and 2 IKF Scouting certification at desportz Vadodara Centre where potential scouts will get hands-on experience to become IKF Certified Scout. For the first time in India IKF along with desportz is launching an onsite Instructor led course where you will learn Scouting via classroom session and on site IKF Vadodara Trials. Apart from that IKF has partnered with desportz to provide 11 months PGP certification in Sports Marketing and 3 month certification program in sports marketing. 
                            <a href="{% url 'desportz-ikf-coe' %}" class="text-info font-weight-bold">...Read more</a>
                        </p>
                    </div>
                </div>

                <div class="mb-3 d-flex flex-row  border p-3 rounded-lg justify-content-center flex-wrap flex-md-nowrap">
                    <img loading="lazy" loading="lazy" src="https://res.cloudinary.com/dooabwrei/image/upload/v1723799905/IMT-ghaziabad-ikf-coe_ewp1ji.jpg" alt="IMT Ghaziabad" style="width: 150px; height: 150px; border-radius: 100% ; margin-right: 10px;"/>
                    <div class="flex-grow-1">
                        <section class="d-flex align-items-center justify-content-between mb-2">
                            <h3 class="m-0 mr-3 ">IMT Ghaziabad</h3>
                            <a class="m-0 text-info font-weight-bold" href="https://www.imt.edu/" target="_blank" rel="noopener noreferrer">Visit Website</a>
                        </section>
                        <p>Institute of Management Technology, Ghaziabad (IMT), and India Khelo Football (IKF) have joined forces to unlock the potential of Indian football through data-driven insights.</br>
                        <span class="font-weight-bold" >A Groundbreaking Collaboration</span><br/>
                        This unique partnership brings together IMT's renowned research capabilities with IKF's extensive on-the-ground experience in football development. While IKF is busy conducting grassroots trials, workshops, and collecting valuable data, IMT's Sports Research Centre, led by Dr. Kanishka Pandey , is transforming that data into actionable insights.
                            
                            <a href="{% url 'imt-ghaziabad-ikf-coe' %}" class="text-info font-weight-bold">...Read more</a>
                        </p>
                    </div>
                </div>

                <div class="mb-3 d-flex flex-row  border p-3 rounded-lg justify-content-center flex-wrap flex-md-nowrap">
                    <img loading="lazy" src="https://res.cloudinary.com/dooabwrei/image/upload/v1724137799/3lok-compressed-png_xx76wb.jpg" alt="Threelok" style="width: 150px; height: 150px; border-radius: 100% ; margin-right: 10px;"/>
                    <div class="flex-grow-1">
                        <section class="d-flex align-items-center justify-content-between mb-2">
                            <h3 class="m-0 mr-3 ">3lok Football Fitness Hub</h3>
                            <a class="m-0 text-info font-weight-bold" href="https://www.3lokfootball.com/" target="_blank" rel="noopener noreferrer">Visit Website</a>
                        </section>
                        <p>In collaboration with 3lok Football Fitness Hub, IKF is thrilled to launch the Centre of Excellence at the vibrant location in Bengaluru. This partnership aims to fuse 3lok Football Fitness Hub’s state of art facility with IKF’s proven football trials and International Partner Workshops.<br/>
                        To empower football enthusiast with best state of art infrastructure and connecting players with opportunities from across the globe. Our goal is to provide a comprehensive athletic environment that nurtures talent from the grassroots to professional levels. <a href="{% url 'threelok-ikf-coe' %}" class="text-info font-weight-bold">...Read more</a>
                        </p>
                    </div>
                </div>

                <div class="mb-3 d-flex flex-row  border p-3 rounded-lg justify-content-center flex-wrap flex-md-nowrap">
                    <img loading="lazy" src="https://res.cloudinary.com/dooabwrei/image/upload/v1724138135/Skss-Hajiur-COE_ervmuv.jpg" alt="SKSSS" style="width: 150px; height: 150px; border-radius: 100% ; margin-right: 10px;"/>
                    <div class="flex-grow-1">
                        <section class="d-flex align-items-center justify-content-between mb-2">
                            <h3 class="m-0 mr-3 ">SKSSS</h3>
                            <a class="m-0 text-info font-weight-bold" href="https://skssss.org/" target="_blank" rel="noopener noreferrer">Visit Website</a>
                        </section>
                        <p><span class="font-weight-bold" >Welcome to the IKF Centre of Excellence at Hajipur!</span></br>
                            In collaboration with SKSSSS and Ansha Football Academy, we are proud to launch a premier training hub integrating elite football training with educational empowerment and community development.
                            <a href="{% url 'skss-ikf-coe' %}" class="text-info font-weight-bold">...Read more</a>
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
        <!-- contact area END -->
</div>
    <!-- Content END-->
    {% endblock content %}