{% extends 'base.html' %} {% load static %} 

{% block title %}IKF Dual Career Pathways: Empowering Footballers On and Off the Field{% endblock title %}

{% block meta_description %}Unlock your future with IKF’s Dual Career Pathways Program. Pursue your football dreams while building a sustainable career. Personalized development plans, parental engagement, and holistic support help young footballers succeed on and off the field. Join IKF today!{% endblock meta_description%}

{% block meta_keywords %}IKF, India Khelo Football, Dual Career Pathways, football career, football development, young footballers, personalized development plans, football training, career readiness, sports management, parental support in sports, youth football program, holistic growth, sports and academics, football skills, player development{% endblock meta_keywords%} 

{% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content">
    <div style="height: 120px; background-color: white;"></div>

    <!-- contact area -->
    <div class="container m-t70">
        <div class="section-content">
            <div class="text-justify">
                <div class="col-lg-12 text-center section-head m-0">
                    <h1 class="h4">IKF Dual Career Pathways Program: <br/>Empowering Young Footballers for a Sustainable Future
                    </h1>
                    <div class="dez-separator bg-primary"></div>
                </div>
                
                <h4>
                    Program Overview
                </h4>

                <p>
                    The <span class="font-weight-bold">IKF Dual Career Pathways Program</span> aims to bridge the gap between football and future career prospects. We empower young footballers by offering personalized guidance that ensures success both on the field and in professional life.
                </p>

                <h3 class="h4">
                    What IKF Offers: Ignite Your Academy's Evolution
                </h3>

                <p class="h6 m-t20">Key Features</p>
                <ul>
                    <li class="mb-1">
                        <span class="font-weight-bold">Three-Dimensional Assessment Model</span>

                        <p class="m-0 p-0">We evaluate players based on:</p>
                        <ul class="m-l20">
                            <li><b>Football Skills:</b> From elite to recreational.</li>
                            <li><b>Academic Performance:</b> From excellence to needing support.</li>
                            <li><b>Additional Talents:</b> Leadership, communication, creativity, and more.</li>
                        </ul>
                    </li>
                    <li>
                        <span class="font-weight-bold">Player Categorization Buckets</span>

                        <p>Players are grouped into tailored buckets like Elite Leaders, Technical Maestros, and Visionary Communicators, ensuring personalized mentorship.</p>
                    </li>
                </ul>

                <p class="h6 m-t20">Personalized Development Plans</p>
                <p>Every player receives a custom roadmap that includes:</p>
                <ul>
                    <li>Focused football training</li>
                    <li>Academic enhancement</li>
                    <li>Skill development in areas like media, technology, or leadership</li>
                </ul>

                <p class="h6 m-t20">Parental and Player Engagement</p>
                <p>We believe in the power of collaboration:</p>
                <ul>
                    <li>Regular communication with parents</li>
                    <li>Workshops and sessions to keep everyone aligned</li>
                    <li>Continuous feedback loops</li>
                </ul>

                <p class="h6 m-t20">Why Choose IKF Dual Career Pathways?</p>
                <ul>
                    <li><b>Holistic Growth: </b>Balanced development in sports, academics, and personal skills.</li>
                    <li><b>Diverse Opportunities: </b>From professional playing careers to roles in sports management, media, and technology.</li>
                    <li><b>Strong Support System:</b> Ongoing guidance from skilled mentors and active parental involvement.</li>
                </ul>

                <p class="h6 m-t20">Expected Outcomes</p>
                <ul>
                    <li><b>Personalized Player Growth:</b> Each participant’s unique strengths are nurtured.</li>
                    <li><b>Career Readiness:</b> Players are prepared for various professional paths within and beyond football.</li>
                    <li><b>Community Building:</b> Stronger engagement between players, parents, and IKF.</li>
                </ul>

                <h3 class="h3">Join Us Today</h3>
                <p>Embrace the journey towards your dual career with IKF. Whether you aim to become a professional footballer or carve a niche in a related industry, we’ve got you covered.</p>

                <button class="site-button text-dark">
                    Sign Up Now
                </button>
            </div>
        </div>
    </div>
        <!-- contact area END -->
</div>
    <!-- Content END-->
    {% endblock content %}