{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content bg-white" style="padding: 70px;">
    <div style="height: 120px; background-color: white;"></div>

    <!-- contact area -->
    <div class="section-full content-inner">
        <!-- Career -->
        <div class="container">
            <div class="row">
                <!-- Left part start -->
                <div class="col-lg-9 m-b30">
                    <h1 class="m-b20 m-t0">Elevating Indian Football to Global Heights</h1>
                    <div class="dez-separator bg-primary"></div>
                    <p><strong>At India Khelo Football (IKF), we are committed to transforming Indian football into a globally recognized sport. Through strategic international partnerships and structured pathways provided by the expertise of partner organisations, we aim to create opportunities that elevate Indian footballers to global platforms.</strong></p>

                    <h1 class="m-b20 m-t0">Strategic International Pathways</h1>
                    <div class="dez-separator bg-primary"></div>
                    <p><strong>India Khelo Football along with our International Pathway provider offers two distinct international pathways for aspiring footballers, ensuring every player has access to opportunities tailored to their unique aspirations.</strong></p>

                    <h3>Unleashing India’s Football Talent</h3>
                    <ul class="list-check-circle primary">
                        <li>IKF believes in harnessing India’s abundant football resources.</li>
                        <li>By integrating grassroots scouting with structured international pathways through our partners, we ensure that talented players have access to comprehensive career development systems.</li>
                    </ul>

                    <h3>A Global Pathway for Indian Footballers</h3>
                    <ul class="list-check-circle primary">
                        <li>India Khelo Football invites you to join us in this transformative journey of empowering young athletes with unparalleled opportunities.</li>
                        <li>Whether pursuing education in the U.S. or competing professionally in Europe, our mission is clear: placing Indian footballers on the global map through structured and transparent pathways.</li>
                        <li>Let’s elevate Indian football together!</li>
                    </ul>

                    <h3>Commitment to Global Exposure</h3>
                    <ul class="list-check-circle primary">
                        <li>Global exposure is indispensable for advancing Indian football.</li>
                        <li>Players gain access to tailored opportunities—whether academic or professional—based on their aspirations.</li>
                        <li>Training programs meet international standards, preparing players for success on global platforms.</li>
                    </ul>

                    <div class="dez-separator bg-primary"></div>
                    <p><strong>Contact us on indiakhelofootball@gmail.com to start conversation.</strong></p>
                </div>
                <!-- Left part start END -->
            </div>
        </div>
        <!-- Career END -->
    </div>
    <!-- contact area END -->
</div>
<!-- Content END-->
<!-- Footer -->
{% endblock content %}
