{% extends 'base.html' %} {% load static %} 

{% block title %}IKF Centre of Excellence (IKF-CoE) | Transform Your Academy into a Football Powerhouse{% endblock title %}

{% block meta_description %}Unleash the potential of your academy with the IKF Centre of Excellence (IKF-CoE) program. Elevate talent scouting, player development, and industry certification. Join the movement to shape the future of Indian football with IKF's expert guidance and certification programs.{% endblock meta_description%}

{% block meta_keywords %}IKF Centre of Excellence, football academy, talent scouting, football development, scouting certification, player development, football training, Indian football, IKF-CoE, sports certification, football career, football academy partnership{% endblock meta_keywords%} 

{% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content">
    <div style="height: 120px; background-color: white;"></div>

    <!-- contact area -->
    <div class="container m-t40">
        <div class="section-content">
            <div class="text-justify">
                <div class="col-lg-12 text-center section-head m-0">
                    <h1 class="h4">IMT Ghaziabad (IKF-CoE) Program
                    </h1>
                    <div class="dez-separator bg-primary"></div>
                </div>

                <div class="d-flex flex-row justify-content-center flex-wrap flex-md-nowrap">
                    <img loading="lazy" src="https://res.cloudinary.com/dooabwrei/image/upload/v1723799905/IMT-ghaziabad-ikf-coe_ewp1ji.jpg" alt="IMT Ghaziabad" style="width: 150px; height: 150px; border-radius: 100% ; margin-right: 10px;"/>
                    <div>
                        <p>Institute of Management Technology, Ghaziabad (IMT), and India Khelo Football (IKF) have joined forces to unlock the potential of Indian football through data-driven insights.</br>
                            <span class="font-weight-bold" >A Groundbreaking Collaboration</span><br/>
                            This unique partnership brings together IMT's renowned research capabilities with IKF's extensive on-the-ground experience in football development. While IKF is busy conducting grassroots trials, workshops, and collecting valuable data, IMT's Sports Research Centre, led by Dr. Kanishka Pandey , is transforming that data into actionable insights.
                            </p>
                        <a class="m-0 text-info font-weight-bold" href="https://www.imt.edu/" target="_blank" rel="noopener noreferrer">Visit Website</a>
                    </div>
                </div>

                <p class="h6 mt-3 text-dark">What this means for indian football</p>
                <p>This collaborative approach promises to be a game-changer for Indian football. By combining practical experience with rigorous research, we can expect:
                </p>

                <ul class="">
                    <li class="list-group-item">More effective talent identification and development programs</li>
                    <li class="list-group-item">Evidence-based strategies for improving coaching and training</li>
                    <li class="list-group-item">Greater understanding of the factors influencing football participation</li>
                    <li class="list-group-item">A clearer roadmap for the future of Indian football</li>
                </ul>

                <p class="h6 mt-3 text-dark">A Shared Vision for Success</p>
                <p>IMT and IKF share a deep commitment to elevating Indian football on the global stage. This partnership is a testament to that commitment, and we are enthusiastic about the potential it holds for transforming the landscape of Indian football.
                </p>

                <a class="site-button text-dark " href="/main/media/ui/download/IMT-ghaziabad-coe-report.pdf" download="IMT-ghaziabad-coe-report.pdf">View Report</a>

                <hr/>
                <p class="font-weight-bold text-center" style="font-size: 16px;">Contact Us Today:
                    <br/>
                      Email us: <a class="text-info" href="https://mail.google.com/mail/?view=cm&fs=1&to=ikfcoe@indiakhelofootball.com" target="_blank" rel="noopener">ikfcoe@indiakhelofootball.com</a>
                </p>
            </div>
        </div>
    </div>
        <!-- contact area END -->
</div>
    <!-- Content END-->
    {% endblock content %}