{% extends 'base.html' %}
{% load static %}



{% block content %}    
		<!-- header END -->
		<!-- Content -->
		<div class="page-content">
			<!-- Slider -->
			<div class="main-slider style-two default-banner">
				<div class="tp-banner-container">
					<div class="tp-banner">
						<div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
							data-alias="news-gallery36" data-source="gallery"
							style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
							<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
							<div id="slider_01" class="rev_slider fullwidthabanner" style="display:none;"
								data-version="5.3.0.2">
								<ul>
									<!-- SLIDE -->
									<li data-index="rs-100" data-transition="parallaxvertical" data-slotamount="default"
										data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
										data-easeout="default" data-masterspeed="default"
										data-thumb="{% static 'images/main-slider/slide1.jpg'%}" data-rotate="0"
										data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
										data-saveperformance="off" data-title="A STUDY ON HAPPINESS" data-param1=""
										data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
										data-param7="" data-param8="" data-param9="" data-param10="">
										<!-- MAIN IMAGE -->
										<img loading="lazy" src="{% static 'images/main-slider/slide1.jpg'%}" alt=""
											data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
											data-bgparallax="10" class="rev-slidebg" data-no-retina>
										<!-- LAYERS -->

										<!-- LAYER NR. 1 -->
										<div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
											id="slide-100-layer-1" data-x="['left','left','left','left']"
											data-hoffset="['50','50','50','30']" data-y="['top','top','top','top']"
											data-voffset="['100','300','300','300']"
											data-fontsize="['40','35','20','20']"
											data-lineheight="['45','40','25','25']"
											data-width="['800','800','600','400']" data-height="none"
											data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
											data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 7; white-space: nowrap;text-transform:left; font-family:Oswald; font-weight:600;">
											MATCH OVERVIEW
										</div>

										<!-- LAYER NR. 2 -->
										<div class="tp-caption Newspaper-Title   tp-resizeme" id="slide-100-layer-2"
											data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
											data-y="['top','top','top','top']" data-voffset="['150','350','330','330']"
											data-fontsize="['80','80','50','30']"
											data-lineheight="['85','85','55','35']"
											data-width="['800','800','600','400']" data-height="none"
											data-whitespace="normal" data-type="text" data-responsive_offset="on"
											data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:Oswald; color:#fff;">
											NFL IN WORLD CUP <span class="text-primary">2020</span>
										</div>

										<!-- LAYER NR. 3 -->
										<div class="tp-caption Newspaper-Title   tp-resizeme" id="slide-100-layer-3"
											data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
											data-y="['top','top','top','top']" data-voffset="['250','450','400','380']"
											data-fontsize="['16','15','14','14']"
											data-lineheight="['26','25','24','24']"
											data-width="['800','800','600','400']" data-height="none"
											data-whitespace="normal" data-type="text" data-responsive_offset="on"
											data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 6; white-space: normal;text-transform:left; line-height:80px; color:#fff; font-family:roboto">
											Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum has been the industry's standard dummy text ever since the
											1500s, when an unknown printer took a galley of type and scrambled it to
											make a type specimen book.
										</div>

										<!-- LAYER NR. 4 -->
										<div class="tp-caption" id="slide-100-layer-4"
											data-x="['left','left','left','left']" data-hoffset="['53','53','50','30']"
											data-y="['top','top','top','top']" data-voffset="['350','550','500','510']"
											data-width="none" data-height="none" data-whitespace="nowrap"
											data-responsive_offset="on" data-responsive="off"
											data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
											<a href="#" class="site-button m-r15">READ MORE </a>
										</div>

										<div class="tp-caption" id="slide-100-layer-5"
											data-x="['left','left','left','left']"
											data-hoffset="['200','200','200','180']" data-y="['top','top','top','top']"
											data-voffset="['350','550','500','510']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-responsive_offset="on"
											data-responsive="off"
											data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
											<a href="#" class="site-button ">Contact Us</a>
										</div>
									</li>
									<!-- SLIDE -->
									<!-- SLIDE 2 -->
									<li data-index="rs-200" data-transition="parallaxvertical" data-slotamount="default"
										data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
										data-easeout="default" data-masterspeed="default"
										data-thumb="{% static 'images/main-slider/slide2.jpg' %}" data-rotate="0"
										data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
										data-saveperformance="off" data-title="A STUDY ON HAPPINESS" data-param1=""
										data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
										data-param7="" data-param8="" data-param9="" data-param10="">
										<!-- MAIN IMAGE -->
										<img loading="lazy" src="{% static 'images/main-slider/slide2.jpg'%}" alt=""
											data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
											data-bgparallax="10" class="rev-slidebg" data-no-retina>
										<!-- LAYERS -->

										<!-- LAYER NR. 1 -->
										<div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
											id="slide-200-layer-1" data-x="['left','left','left','left']"
											data-hoffset="['50','50','50','30']" data-y="['top','top','top','top']"
											data-voffset="['100','300','300','300']"
											data-fontsize="['40','35','20','20']"
											data-lineheight="['45','40','25','25']"
											data-width="['800','800','800','420']" data-height="none"
											data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
											data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 7; white-space: nowrap;text-transform:left; font-family:Oswald; font-weight:600;">
											MATCH OVERVIEW
										</div>

										<!-- LAYER NR. 2 -->
										<div class="tp-caption Newspaper-Title   tp-resizeme" id="slide-200-layer-2"
											data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
											data-y="['top','top','top','top']" data-voffset="['150','350','330','330']"
											data-fontsize="['80','80','50','30']"
											data-lineheight="['85','85','55','35']"
											data-width="['1000','1000','1000','420']" data-height="none"
											data-whitespace="normal" data-type="text" data-responsive_offset="on"
											data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:Oswald; color:#fff;">
											NFL IN WORLD CUP <span class="text-primary">2020</span>
										</div>

										<!-- LAYER NR. 3 -->
										<div class="tp-caption Newspaper-Title   tp-resizeme" id="slide-200-layer-3"
											data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
											data-y="['top','top','top','top']" data-voffset="['250','450','400','380']"
											data-fontsize="['16','15','14','14']"
											data-lineheight="['26','25','24','24']"
											data-width="['700','600','600','420']" data-height="none"
											data-whitespace="normal" data-type="text" data-responsive_offset="on"
											data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 6; white-space: normal;text-transform:left; line-height:80px; color:#fff; font-family:roboto">
											Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum has been the industry's standard dummy text ever since the
											1500s, when an unknown printer took a galley of type and scrambled it to
											make a type specimen book.
										</div>

										<!-- LAYER NR. 4 -->
										<div class="tp-caption" id="slide-200-layer-4"
											data-x="['left','left','left','left']" data-hoffset="['53','53','50','30']"
											data-y="['top','top','top','top']" data-voffset="['350','550','500','510']"
											data-width="none" data-height="none" data-whitespace="nowrap"
											data-responsive_offset="on" data-responsive="off"
											data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
											<a href="#" class="site-button m-r15">READ MORE </a>
										</div>

										<div class="tp-caption" id="slide-200-layer-5"
											data-x="['left','left','left','left']"
											data-hoffset="['200','200','200','180']" data-y="['top','top','top','top']"
											data-voffset="['350','550','500','510']" data-width="none"
											data-height="none" data-whitespace="nowrap" data-responsive_offset="on"
											data-responsive="off"
											data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
											data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]"
											style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
											<a href="#" class="site-button ">Contact Us</a>
										</div>
									</li>
									<!-- SLIDE 2 -->
								</ul>
								<div class="tp-bannertimer tp-bottom bg-primary"></div>
							</div>
						</div><!-- END REVOLUTION SLIDER -->
					</div>
				</div>
			</div>
			<!-- Slider END -->
			<!-- Latest Result -->
			<div class="section-full score-board bg-white content-inner-2">
				<div class="container">
					<div class="section-content">
						<div class="row">
							<div class="col-lg-12 text-center section-head">
								<h2 class="h2 text-uppercase">Latest Result</h2>
								<div class="dez-separator-outer ">
									<div class="dez-separator bg-primary style-liner"></div>
								</div>
								<div class="clear"></div>
								<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting
									industry has been the industry's standard dummy text ever since the been when an
									unknown printer.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-5 col-md-5">
								<div class="team-box-left clearfix">
									<div class="player pull-right">
										<img width="192" height="351" src="{% static 'images/team-1.png'%}" alt="" />
									</div>
									<div class="team-result text-white text-left">
										<h3 class="text-uppercase font-weight-600 m-a0">England</h3>
										<div class="m-tb5"><span class="text-green">WIN</span></div>
										<a href="#" class="site-button">Score Board</a>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 text-center p-lr0">
								<div class="score-info">
									<span class="vs">V/S</span>
									<span class="score">5-2</span>
									<p>May 16,2020 15:30pm Wbeysley Stadium (london)</p>
								</div>
							</div>
							<div class="col-lg-5 col-md-5">
								<div class="team-box-right clearfix">
									<div class="player pull-left">
										<img width="192" height="351" src="{% static 'images/team-2.png'%}" alt="" />
									</div>
									<div class="team-result text-white text-right">
										<h3 class="text-uppercase font-weight-600 m-a0">England</h3>
										<div class="m-tb5"><span class="text-red">LOSS</span></div>
										<a href="#" class="site-button">Score Board</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Latest Result END -->
			<!-- Next Match -->
			<div class="section-full bg-white content-inner-1 bg-img-fix overlay-white-dark"
				style="background-image:url(static/images/background/bg5.jpg); background-position:center; ">
				<div class=" container">
					<div class="section-head text-center ">
						<h2 class="h2 text-uppercase"> Next Match</h2>
						<div class="dez-separator-outer ">
							<div class="dez-separator bg-primary style-liner"></div>
						</div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
							industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>
					<div class="section-content">
						<div class="next-match owl-loaded owl-theme owl-dots-none owl-carousel owl-btn-center-lr">
							<div class="item p-t20">
								<div class="row next-match-team clearfix m-b30">
									<div class="col-lg-5 col-sm-5 col-4">
										<a href="#" class="pull-right  m-t20">
											<span class="country"><img width="50" height="50"
													src="{% static 'images/flag/flag1.jpg'%}" alt="" /></span>
											<span>England</span>
										</a>
									</div>
									<div class="col-lg-2 col-sm-2 col-4  ">
										<div class="vs-team bg-primary"><span>VS</span></div>
									</div>
									<div class="col-lg-5 col-sm-5 col-4">
										<a href="#" class="pull-left m-t20">
											<span>The Africa</span>
											<span class="country"><img width="50" height="50"
													src="{% static 'images/flag/flag2.jpg'%}" alt="" /></span>
										</a>
									</div>
								</div>
								<div class="countdown dez-style-1 text-center">
									<div class="date">
										<span class="time days text-primary"></span>
										<span class="time-counting">Days</span>
									</div>
									<div class="date">
										<span class="time hours text-primary"></span>
										<span class="time-counting">Hours</span>
									</div>
									<div class="date">
										<span class="time mins text-primary"></span>
										<span class="time-counting">Minutess</span>
									</div>
									<div class="date">
										<span class="time secs text-primary"></span>
										<span class="time-counting">Second</span>
									</div>
								</div>
								<div class="m-t30 loction text-center">
									<strong>November 14, 2020 | 12:00 AM</strong>
									<strong>Cambridgeshire UK</strong>
								</div>
							</div>
							<div class="item p-t20">
								<div class="row next-match-team clearfix m-b30">
									<div class="col-lg-5 col-sm-5 col-4">
										<a href="#" class="pull-right  m-t20">
											<span class="country"><img width="50" height="50"
													src="{% static 'images/flag/flag1.jpg'%}" alt="" /></span>
											<span>England</span>
										</a>
									</div>
									<div class="col-lg-2 col-sm-2 col-4  ">
										<div class="vs-team bg-primary"><span>VS</span></div>
									</div>
									<div class="col-lg-5 col-sm-5 col-4">
										<a href="#" class="pull-left m-t20">
											<span>The Africa</span>
											<span class="country"><img width="50" height="50"
													src="{% static 'images/flag/flag2.jpg'%}" alt="" /></span>
										</a>
									</div>
								</div>
								<div class="countdown dez-style-1 text-center">
									<div class="date">
										<span class="time days text-primary"></span>
										<span class="time-counting">Days</span>
									</div>
									<div class="date">
										<span class="time hours text-primary"></span>
										<span class="time-counting">Hours</span>
									</div>
									<div class="date">
										<span class="time mins text-primary"></span>
										<span class="time-counting">Minutess</span>
									</div>
									<div class="date">
										<span class="time secs text-primary"></span>
										<span class="time-counting">Second</span>
									</div>
								</div>
								<div class="m-t30 loction text-center">
									<strong>November 14, 2020 | 12:00 AM</strong>
									<strong>Cambridgeshire UK</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Next Match End -->
			<!-- About The Sports -->
			<div class="section-full bg-white content-inner">
				<div class="container">
					<div class="section-head text-center ">
						<h2 class="h2 text-uppercase"> About The Sports</h2>
						<div class="dez-separator-outer ">
							<div class="dez-separator bg-primary style-liner"></div>
						</div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
							industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>
					<div class="section-content text-center ">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="text-left">
									<h3 class="font-weight-600 m-t10">OUR MISSION STATEMENT</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum has been the industry's standard dummy text ever since the 1500s, when an
										unknown printer took a galley of type and scrambled it to make a type specimen
										book.</p>
									<div class="row">
										<div class="col-lg-4 col-sm-4 col-4">
											<div class="dez-media dez-img-effect off-color">
												<img width="159" height="153"
													src="{% static 'images/about-sports/pic1.jpg'%}" alt="" />
											</div>
										</div>
										<div class="col-lg-4 col-sm-4 col-4 ">
											<div class="dez-media dez-img-effect off-color">
												<img width="159" height="153"
													src="{% static 'images/about-sports/pic2.jpg'%}" alt="" />
											</div>
										</div>
										<div class="col-lg-4 col-sm-4 col-4 ">
											<div class="dez-media dez-img-effect  off-color">
												<img width="159" height="153"
													src="{% static 'images/about-sports/pic3.jpg'%}" alt="" />
											</div>
										</div>
									</div>
									<div class="m-tb30">
										<a href="#" class="site-button">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 m-b30">
								<div class="dez-box">
									<div class="dez-media dez-img-effect off-color ">
										<img width="555" height="393" src="{% static 'images/about-sports/pic4.jpg'%}"
											alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- About The Sports -->
			<!-- Our Sports  -->
			<div class="section-full bg-img-fix content-inner overlay-black-middle our-projects-galery"
				style="background-image:url(static/images/background/bg5.jpg); background-position:center;">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6 m-b30">
							<div
								class="border-1 p-a15 text-center text-white skew-triangle left-top hvr-wobble-horizontal">
								<div class="sports-icon ">
									<img width="85" height="85" src="{% static 'images/sports/pic1.png'%}" alt="" />
								</div>
								<h4 class="text-capitalize">amazing experience</h4>
								<div class="dez-separator-outer ">
									<div class="dez-separator bg-primary style-liner"></div>
								</div>
								<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting
									industry. </p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 m-b30">
							<div
								class="border-1 p-a15 text-center text-white skew-triangle left-top hvr-wobble-horizontal">
								<div class="sports-icon ">
									<img width="85" height="85" src="{% static 'images/sports/pic2.png'%}" alt="" />
								</div>
								<h4 class="text-capitalize">medals won</h4>
								<div class="dez-separator-outer ">
									<div class="dez-separator bg-primary style-liner"></div>
								</div>
								<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting
									industry. </p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 m-b30 ">
							<div
								class="border-1 p-a15 text-center text-white skew-triangle left-top hvr-wobble-horizontal">
								<div class="sports-icon ">
									<img width="85" height="85" src="{% static 'images/sports/pic3.png'%}" alt="" />
								</div>
								<h4 class="text-capitalize">talented staff</h4>
								<div class="dez-separator-outer ">
									<div class="dez-separator bg-primary style-liner"></div>
								</div>
								<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting
									industry. </p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6  m-b30 ">
							<div
								class="border-1 p-a15 text-center text-white skew-triangle left-top hvr-wobble-horizontal">
								<div class="sports-icon ">
									<img width="85" height="85" src="{% static 'images/sports/pic4.png'%}" alt="" />
								</div>
								<h4 class="text-capitalize">adventure zone</h4>
								<div class="dez-separator-outer ">
									<div class="dez-separator bg-primary style-liner"></div>
								</div>
								<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting
									industry. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Our Sports END -->
			<!-- Our Achievements -->
			<div class="section-full bg-white content-inner our-achievements">
				<div class="container">
					<div class="section-head text-center ">
						<h2 class="h2 text-uppercase"> OUR ACHIEVEMENTS</h2>
						<div class="dez-separator-outer ">
							<div class="dez-separator bg-primary style-liner"></div>
						</div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
							industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>
					<div class="section-content text-center ">
						<div class="row m-lr0">
							<div class="col-lg-3 col-sm-6 p-a0 m-b30">
								<div class="dez-box dez-media">
									<img width="292" height="292" src="{% static 'images/our-achivements/pic1.jpg'%}"
										alt="">
									<div
										class="dez-info-has p-a20 bg-primary text-left skew-triangle right-top text-center">
										<h4 class="text-capitalize"> extreme level of sports</h4>
										<div class="dez-info-has-text">Lorem Ipsum is simply dummy text of the printing
											and typesetting industry. Lorem Ipsum has been the industry's standard dummy
											text ever since the 1500s.</div>
										<div class="m-tb30"><a href="#" class="site-button outline white border-1">Read
												More</a></div>
									</div>
									<div class="dez-title-bx bg-gray p-a20 text-left skew-triangle left-top">
										<h4 class="m-a0 text-capitalize"> extreme level of sports</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 p-a0 m-b30">
								<div class="dez-box dez-media">
									<img width="292" height="292" src="{% static 'images/our-achivements/pic2.jpg'%}"
										alt="">
									<div
										class="dez-info-has p-a20 bg-primary text-left skew-triangle right-top text-center">
										<h4 class="text-capitalize"> extreme level of sports</h4>
										<div class="dez-info-has-text">Lorem Ipsum is simply dummy text of the printing
											and typesetting industry. Lorem Ipsum has been the industry's standard dummy
											text ever since the 1500s.</div>
										<div class="m-tb30"><a href="#" class="site-button outline white border-1">Read
												More</a></div>
									</div>
									<div class="dez-title-bx bg-gray p-a20 text-left skew-triangle left-top">
										<h4 class="m-a0 text-capitalize"> extreme level of sports</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 p-a0 m-b30">
								<div class="dez-box dez-media">
									<img width="292" height="292" src="{% static 'images/our-achivements/pic3.jpg'%}"
										alt="">
									<div
										class="dez-info-has p-a20 bg-primary text-left skew-triangle right-top text-center">
										<h4 class="text-capitalize"> extreme level of sports</h4>
										<div class="dez-info-has-text">Lorem Ipsum is simply dummy text of the printing
											and typesetting industry. Lorem Ipsum has been the industry's standard dummy
											text ever since the 1500s.</div>
										<div class="m-tb30"><a href="#" class="site-button outline white border-1">Read
												More</a></div>
									</div>
									<div class="dez-title-bx bg-gray p-a20 text-left skew-triangle left-top">
										<h4 class="m-a0 text-capitalize"> extreme level of sports</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 p-a0 m-b30">
								<div class="dez-box dez-media">
									<img width="292" height="292" src="{% static 'images/our-achivements/pic4.jpg'%}"
										alt="">
									<div
										class="dez-info-has p-a20 bg-primary text-left skew-triangle right-top text-center">
										<h4 class="text-capitalize"> extreme level of sports</h4>
										<div class="dez-info-has-text">Lorem Ipsum is simply dummy text of the printing
											and typesetting industry. Lorem Ipsum has been the industry's standard dummy
											text ever since the 1500s.</div>
										<div class="m-tb30"><a href="#" class="site-button outline white border-1">Read
												More</a></div>
									</div>
									<div class="dez-title-bx bg-gray p-a20 text-left skew-triangle left-top">
										<h4 class="m-a0 text-capitalize"> extreme level of sports</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Team member END -->
			<!-- Sports Offered -->
			<div class="section-full bg-img-fix content-inner overlay-black-middle"
				style="background-image:url(static/images/background/bg1.jpg); background-position:center;">
				<div class="container">
					<div class="section-head  text-center text-white">
						<h2 class="h2">CLUB GALLERY </h2>
						<div class="dez-separator-outer ">
							<div class="dez-separator bg-primary style-liner"></div>
						</div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
							industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>
					<div class="site-filters clearfix center  m-b40">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active">
								<input type="radio">
								<a href="#" class="site-button white radius-xl"><span>All Sports</span></a>
							</li>
							<li data-filter="water" class="btn">
								<input type="radio">
								<a href="#" class="site-button white radius-xl"><span>Water Sports</span></a>
							</li>
							<li data-filter="jumping" class="btn">
								<input type="radio">
								<a href="#" class="site-button white radius-xl"><span>Jumping</span></a>
							</li>
							<li data-filter="bikes" class="btn">
								<input type="radio">
								<a href="#" class="site-button white radius-xl"><span>Bikes</span></a>
							</li>
						</ul>
					</div>
					<div class="clearfix">
						<ul id="masonry" class="row dez-gallery-listing gallery-grid-4 m-b0 gallery lightgallery">
							<li class="card-container col-lg-3 col-lg-3 col-sm-6 jumping">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect zoom-slow"> <a
											href="javascript:void(0);"> <img width="480" height="430"
												src="{% static 'images/gallery/pic1.jpg'%}" alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon">
												<a href="{% static 'html/portfolio-details.html'%}"> <i
														class="fa fa-link icon-bx-xs"></i>
												</a>
												<span data-exthumbimage="{% static 'images/gallery/thumb/pic1.jpg'%}"
													data-src="{% static 'images/gallery/large/pic1.jpg'%}"
													class="icon-bx-xs check-km" title="Title Come Here 1">
													<i class="fa fa-picture-o"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="office  card-container col-lg-3 col-lg-3 col-sm-6 bikes jumping">
								<div class="dez-box dez-gallery-box">
									<div
										class="dez-media dez-img-overlay1 dez-img-effect zoom-slow dez-img-effect zoom">
										<a href="javascript:void(0);"> <img width="480" height="430"
												src="{% static 'images/gallery/pic2.jpg'%}" alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon">
												<a href="{% static 'html/portfolio-details.html'%}"> <i
														class="fa fa-link icon-bx-xs"></i>
												</a>
												<span data-exthumbimage="{% static 'images/gallery/thumb/pic2.jpg'%}"
													data-src="{% static 'images/gallery/large/pic2.jpg'%}"
													class="icon-bx-xs check-km" title="Title Come Here 2">
													<i class="fa fa-picture-o"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class=" card-container col-lg-3 col-lg-3 col-sm-6 jumping">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect zoom-slow"> <a
											href="javascript:void(0);"> <img width="480" height="430"
												src="{% static 'images/gallery/pic3.jpg'%}" alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon">
												<a href="{% static 'html/portfolio-details.html'%}"> <i
														class="fa fa-link icon-bx-xs"></i>
												</a>
												<span data-exthumbimage="{% static 'images/gallery/thumb/pic3.jpg'%}"
													data-src="{% static 'images/gallery/large/pic3.jpg'%}"
													class="icon-bx-xs check-km" title="Title Come Here 3">
													<i class="fa fa-picture-o"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="commercial card-container col-lg-3 col-lg-3 col-sm-6 bikes">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect zoom-slow"> <a
											href="javascript:void(0);"> <img width="480" height="430"
												src="{% static 'images/gallery/pic4.jpg'%}" alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon">
												<a href="{% static 'html/portfolio-details.html'%}"> <i
														class="fa fa-link icon-bx-xs"></i>
												</a>
												<span data-exthumbimage="{% static 'images/gallery/thumb/pic4.jpg'%}"
													data-src="{% static 'images/gallery/large/pic4.jpg'%}"
													class="icon-bx-xs check-km" title="Title Come Here 4">
													<i class="fa fa-picture-o"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-lg-3 col-sm-6 water bikes">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect zoom-slow"> <a
											href="javascript:void(0);"> <img width="480" height="430"
												src="{% static 'images/gallery/pic5.jpg'%}" alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon">
												<a href="{% static 'html/portfolio-details.html'%}"> <i
														class="fa fa-link icon-bx-xs"></i>
												</a>
												<span data-exthumbimage="{% static 'images/gallery/thumb/pic5.jpg'%}"
													data-src="{% static 'images/gallery/large/pic5.jpg'%}"
													class="icon-bx-xs check-km" title="Title Come Here 5">
													<i class="fa fa-picture-o"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-lg-3 col-sm-6 water">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect zoom-slow"> <a
											href="javascript:void(0);"> <img width="480" height="430"
												src="{% static 'images/gallery/pic6.jpg'%}" alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon">
												<a href="{% static 'html/portfolio-details.html'%}"> <i
														class="fa fa-link icon-bx-xs"></i>
												</a>
												<span data-exthumbimage="{% static 'images/gallery/thumb/pic6.jpg'%}"
													data-src="{% static 'images/gallery/large/pic6.jpg'%}"
													class="icon-bx-xs check-km" title="Title Come Here 6">
													<i class="fa fa-picture-o"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-lg-3 col-sm-6 bikes">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect zoom-slow"> <a
											href="javascript:void(0);"> <img width="480" height="430"
												src="{% static 'images/gallery/pic7.jpg'%}" alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon">
												<a href="{% static 'html/portfolio-details.html'%}"> <i
														class="fa fa-link icon-bx-xs"></i>
												</a>
												<span data-exthumbimage="{% static 'images/gallery/thumb/pic7.jpg'%}"
													data-src="{% static 'images/gallery/large/pic7.jpg'%}"
													class="icon-bx-xs check-km" title="Title Come Here 7">
													<i class="fa fa-picture-o"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="card-container col-lg-3 col-lg-3 col-sm-6 water">
								<div class="dez-box dez-gallery-box">
									<div class="dez-media dez-img-overlay1 dez-img-effect zoom-slow"> <a
											href="javascript:void(0);"> <img width="480" height="430"
												src="{% static 'images/gallery/pic8.jpg'%}" alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon">
												<a href="{% static 'html/portfolio-details.html'%}"> <i
														class="fa fa-link icon-bx-xs"></i>
												</a>
												<span data-exthumbimage="{% static 'images/gallery/thumb/pic8.jpg'%}"
													data-src="{% static 'images/gallery/large/pic8.jpg'%}"
													class="icon-bx-xs check-km" title="Title Come Here 8">
													<i class="fa fa-picture-o"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Sports Offered END -->
			<!-- Qualified Staff -->
			<div class="section-full bg-white content-inner">
				<div class="container">
					<div class="section-head text-center ">
						<h2 class="h2">QUALIFIED STAFF</h2>
						<div class="dez-separator-outer ">
							<div class="dez-separator bg-primary style-liner"></div>
						</div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
							industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>
					<div class="section-content text-center ">
						<div class="row">
							<div class="col-lg-3 col-sm-6">
								<div class="dez-box m-b30 dez-img-effect vertical-pan dez-staff">
									<div class="dez-media vertical-pan dez-img-effect">
										<a href="javascript:;">
											<img loading="lazy" src="{% static 'images/our-team/pic1.jpg'%}" alt="" width="358"
												height="460">
										</a>
									</div>
									<div class="p-a15 bg-primary text-white dez-team">
										<h4 class="dez-title text-capitalize m-t0">andrea</h4>
										<div class="dez-separator-outer ">
											<div class="dez-separator bg-white style-liner"></div>
										</div>
										<span class="dez-member-position">Coatch</span>
										<div class="m-t10">
											<ul class="dez-social-icon dez-social-icon-lg border">
												<li><a href="javascript:void(0);" class="fa fa-facebook text-white"></a>
												</li>
												<li><a href="javascript:void(0);" class="fa fa-twitter text-white"></a>
												</li>
												<li><a href="javascript:void(0);" class="fa fa-linkedin text-white"></a>
												</li>
												<li><a href="javascript:void(0);"
														class="fa fa-pinterest-p text-white"></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="dez-box m-b30 dez-img-effect vertical-pan dez-staff">
									<div class="dez-media vertical-pan dez-img-effect">
										<a href="javascript:;">
											<img loading="lazy" src="{% static 'images/our-team/pic2.jpg'%}" alt="" width="358"
												height="460">
										</a>
									</div>
									<div class="p-a15 bg-primary text-white dez-team">
										<h4 class="dez-title text-capitalize m-t0">leeza</h4>
										<div class="dez-separator-outer ">
											<div class="dez-separator bg-white style-liner"></div>
										</div>
										<span class="dez-member-position">Coatch</span>
										<div class="m-t10 ">
											<ul class="dez-social-icon dez-social-icon-lg border">
												<li><a href="javascript:void(0);" class="fa fa-facebook text-white"></a>
												</li>
												<li><a href="javascript:void(0);" class="fa fa-twitter text-white"></a>
												</li>
												<li><a href="javascript:void(0);" class="fa fa-linkedin text-white"></a>
												</li>
												<li><a href="javascript:void(0);"
														class="fa fa-pinterest-p text-white"></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="dez-box m-b30 dez-img-effect vertical-pan dez-staff">
									<div class="dez-media vertical-pan dez-img-effect">
										<a href="javascript:;">
											<img loading="lazy" src="{% static 'images/our-team/pic3.jpg'%}" alt="" width="358"
												height="460">
										</a>
									</div>
									<div class="p-a15 bg-primary text-white dez-team">
										<h4 class="dez-title text-capitalize m-t0">robat</h4>
										<div class="dez-separator-outer ">
											<div class="dez-separator bg-white style-liner"></div>
										</div>
										<span class="dez-member-position">Coatch</span>
										<div class="m-t10 ">
											<ul class="dez-social-icon dez-social-icon-lg border">
												<li><a href="javascript:void(0);" class="fa fa-facebook text-white"></a>
												</li>
												<li><a href="javascript:void(0);" class="fa fa-twitter text-white"></a>
												</li>
												<li><a href="javascript:void(0);" class="fa fa-linkedin text-white"></a>
												</li>
												<li><a href="javascript:void(0);"
														class="fa fa-pinterest-p text-white"></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="dez-box m-b30 dez-img-effect vertical-pan dez-staff">
									<div class="dez-media vertical-pan dez-img-effect">
										<a href="javascript:;">
											<img loading="lazy" src="{% static 'images/our-team/pic4.jpg'%}" alt="" width="358"
												height="460">
										</a>
									</div>
									<div class="p-a15 bg-primary text-white dez-team">
										<h4 class="dez-title text-capitalize m-t0">jack</h4>
										<div class="dez-separator-outer ">
											<div class="dez-separator bg-white style-liner"></div>
										</div>
										<span class="dez-member-position">Coatch</span>
										<div class="m-t10 ">
											<ul class="dez-social-icon dez-social-icon-lg border">
												<li><a href="javascript:void(0);" class="fa fa-facebook text-white"></a>
												</li>
												<li><a href="javascript:void(0);" class="fa fa-twitter text-white"></a>
												</li>
												<li><a href="javascript:void(0);" class="fa fa-linkedin text-white"></a>
												</li>
												<li><a href="javascript:void(0);"
														class="fa fa-pinterest-p text-white"></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Qualified Staff END -->
			<!-- Why Choose Us -->
			<div class="section-full text-white bg-img-fix content-inner-1 overlay-black-middle choose-us"
				style="background-image:url(static/images/background/bg2.jpg); background-position:center">
				<div class="container">
					<div class="text-center text-white">
						<h2 class="h2 m-t0 m-b0 text-uppercase">
							<a href="https://www.youtube.com/watch?v=n2mh6zHTvqU"
								class="popup-youtube video text-white">
								Show
								<span class="text-primary">
									<i class="fa fa-play-circle-o"></i>
								</span>
								Reel
							</a>
						</h2>
					</div>
				</div>
			</div>
			<!-- Why Choose Us End -->
			<!-- Latest blog -->
			<div class="section-full content-inner">
				<div class="container">
					<div class="section-head text-center">
						<h2 class="h2 text-uppercase">latest Blog</h2>
						<div class="dez-separator-outer ">
							<div class="dez-separator bg-primary style-liner"></div>
						</div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
							industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>
					<div class="section-content ">
						<div class="row">
							<div class="col-lg-6 col-sm-12 m-b30">
								<div class="dez-box  blog-details">
									<div class="dez-media dez-img-effect">
										<img width="855" height="897"
											src="{% static 'images/blog/latest-blog3/pic1.jpg'%}" alt="">
										<div
											class="dez-info-has p-a20 text-white no-hover bg-primary right-top skew-triangle skew-angle-1">
											<div class="text-white">
												<h4 class="title text-capitalize">extreme level of sports</h4>
												<div class="ow-post-meta">
													<ul>
														<li class="post-date"> <i class="fa fa-calendar"></i><strong>17
																Mar</strong> <span> 2020</span> </li>
														<li class="post-author"><i class="fa fa-user"></i>By demongo
														</li>
													</ul>
												</div>
												<p class="m-b0">Lorem Ipsum is simply dummy text of the printing and
													typesetting industry. Lorem Ipsum has been the industry's standard
													dummy text ever since the 1500s, when an...</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 block">
								<div class="row clearfix bg-primary blog-details m-b30 m-lr0">
									<div class="col-lg-6 col-sm-6 p-a0">
										<img width="428" height="424" class="img-height"
											src="{% static 'images/blog/latest-blog3/pic2.jpg'%}" height="100%"
											alt="" />
									</div>
									<div class="col-lg-6 col-sm-6 p-tb10 skew-triangle right-top">
										<div class="text-white">
											<h4 class="title text-capitalize">extreme level of sports</h4>
											<div class="ow-post-meta">
												<ul>
													<li class="post-date"> <i class="fa fa-calendar"></i><strong>17
															Mar</strong> <span> 2020</span> </li>
													<li class="post-author"><i class="fa fa-user"></i>By demongo </li>
												</ul>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting
												industry. Lorem Ipsum has been the industry's standard dummy text ever
												since.</p>
											<a href="#" class="site-button outline white ">Read More</a>
										</div>
									</div>
								</div>
								<div class="row bg-primary blog-details m-b30 m-lr0">
									<div class="col-lg-6 col-sm-6 p-a0">
										<img width="428" height="424" class="img-height"
											src="{% static 'images/blog/latest-blog3/pic3.jpg'%}" alt="" />
									</div>
									<div class="col-lg-6 col-sm-6 p-tb10 skew-triangle right-top">
										<div class="text-white">
											<h4 class="title text-capitalize">extreme level of sports</h4>
											<div class="ow-post-meta">
												<ul>
													<li class="post-date"> <i class="fa fa-calendar"></i><strong>17
															Mar</strong> <span> 2020</span> </li>
													<li class="post-author"><i class="fa fa-user"></i>By demongo </li>
												</ul>
											</div>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting
												industry. Lorem Ipsum has been the industry's standard dummy text ever
												since.</p>
											<a href="#" class="site-button outline white ">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Latest blog END -->
			<!-- World Sport Template blog -->
			<div class="section-full overlay-black-dark bg-img-fix content-inner dez-move-image"
				style="background-image:url(static/images/mamber.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 m-b30 text-white">
							<h2 class="m-t0 font-40 m-b40 text-left">" Champions Keep Playing until they get it right "
								<span class="pull-right font-16 m-t20"><i> -Billie Jean King</i></span>
							</h2>
							<div class="text-center"><a href="#" class="site-button">Join Are Club</a></div>
						</div>
					</div>
				</div>
			</div>
			<!-- World Sport Template END -->
			<!-- Testimoniyal blog -->
			<div class="section-full content-inner bg-white">
				<div class="container">
					<div class="section-head text-center">
						<h2 class="h2 text-uppercase">Testimonials</h2>
						<div class="dez-separator-outer ">
							<div class="dez-separator bg-primary style-liner"></div>
						</div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
							industry's standard dummy text ever since the been when an unknown printer.</p>
					</div>
					<div class="section-content">
						<div class="testimonial-four owl-carousel owl-dots-none owl-theme owl-loaded">
							<div class="item">
								<div class="testimonial-4 text-white">
									<div class="testimonial-pic"><img loading="lazy" src="{% static 'images/testimonials/pic1.jpg'%}"
											width="100" height="100" alt=""></div>
									<div class="testimonial-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has
											been the standard dummy text ever since the when printer. [...]</p>
									</div>
									<div class="testimonial-detail"> <strong class="testimonial-name">David
											Matin</strong> <span class="testimonial-position">Student</span> </div>
									<div class="quote-right"></div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-4 text-white">
									<div class="testimonial-pic"><img loading="lazy" src="{% static 'images/testimonials/pic2.jpg'%}"
											width="100" height="100" alt=""></div>
									<div class="testimonial-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has
											been the standard dummy text ever since the when printer. [...]</p>
									</div>
									<div class="testimonial-detail"> <strong class="testimonial-name">David
											Matin</strong> <span class="testimonial-position">Student</span> </div>
									<div class="quote-right"></div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-4 text-white">
									<div class="testimonial-pic"><img loading="lazy" src="{% static 'images/testimonials/pic2.jpg'%}"
											width="100" height="100" alt=""></div>
									<div class="testimonial-text">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has
											been the standard dummy text ever since the when printer. [...]</p>
									</div>
									<div class="testimonial-detail"> <strong class="testimonial-name">David
											Matin</strong> <span class="testimonial-position">Student</span> </div>
									<div class="quote-right"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Testimoniyal END -->
		</div>
		<!-- Content END-->
		<!-- Footer -->
{% endblock content %}    