{% extends 'base.html' %}
{% load static %}



{% block content %}    
	<!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Products</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Products</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="clearfix">
            <!-- Product -->
			<div class="section-full content-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6 m-b30">
							<div class="dez-box p-a20 border-1 bg-gray">
								<div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom"> <img loading="lazy" src="images/product/pic1.jpg" alt="">
									<div class="overlay-bx">
										<div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
									</div>
								</div>
								<div class="dez-info p-t20 text-center">
									<h4 class="dez-title m-t0 m-b10 text-capitalize"><a href="#">first heading</a></h4>
									<h2 class="m-tb0">$20.00 </h2>
									<a href="javascript:void(0)" class="site-button  m-t15">Add To Cart</a> 
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 m-b30">
							<div class="dez-box p-a20 border-1 bg-gray">
								<div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom"> <img loading="lazy" src="images/product/pic2.jpg" alt="">
									<div class="overlay-bx">
										<div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
									</div>
								</div>
								<div class="dez-info p-t20 text-center">
									<h4 class="dez-title m-t0 m-b10 text-capitalize"><a href="#">first heading</a></h4>
									<h2 class="m-tb0">$20.00 </h2>
									<a href="javascript:void(0)" class="site-button  m-t15">Add To Cart</a> </div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 m-b30">
							<div class="dez-box p-a20 border-1 bg-gray">
								<div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom"> <img loading="lazy" src="images/product/pic3.jpg" alt="">
									<div class="overlay-bx">
										<div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
									</div>
								</div>
								<div class="dez-info p-t20 text-center">
									<h4 class="dez-title m-t0 m-b10 text-capitalize"><a href="#">first heading</a></h4>
									<h2 class="m-tb0">$20.00 </h2>
									<a href="javascript:void(0)" class="site-button  m-t15">Add To Cart</a> </div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 m-b30">
							<div class="dez-box p-a20 border-1 bg-gray">
								<div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom"> <img loading="lazy" src="images/product/pic4.jpg" alt="">
									<div class="overlay-bx">
										<div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
									</div>
								</div>
								<div class="dez-info p-t20 text-center">
									<h4 class="dez-title m-t0 m-b10 text-capitalize"><a href="#">first heading</a></h4>
									<h2 class="m-tb0">$20.00 </h2>
									<a href="javascript:void(0)" class="site-button  m-t15">Add To Cart</a> </div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 m-b30">
							<div class="dez-box p-a20 border-1 bg-gray">
								<div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom"> <img loading="lazy" src="images/product/pic5.jpg" alt="">
									<div class="overlay-bx">
										<div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
									</div>
								</div>
								<div class="dez-info p-t20 text-center">
									<h4 class="dez-title m-t0 m-b10 text-capitalize"><a href="#">first heading</a></h4>
									<h2 class="m-tb0">$20.00 </h2>
									<a href="javascript:void(0)" class="site-button  m-t15">Add To Cart</a> </div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 m-b30">
							<div class="dez-box p-a20 border-1 bg-gray">
								<div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom"> <img loading="lazy" src="images/product/pic6.jpg" alt="">
									<div class="overlay-bx">
										<div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
									</div>
								</div>
								<div class="dez-info p-t20 text-center">
									<h4 class="dez-title m-t0 m-b10 text-capitalize"><a href="#">first heading</a></h4>
									<h2 class="m-tb0">$20.00 </h2>
									<a href="javascript:void(0)" class="site-button  m-t15">Add To Cart</a> </div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 m-b30">
							<div class="dez-box p-a20 border-1 bg-gray">
								<div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom"> <img loading="lazy" src="images/product/pic1.jpg" alt="">
									<div class="overlay-bx">
										<div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
									</div>
								</div>
								<div class="dez-info p-t20 text-center">
									<h4 class="dez-title m-t0 m-b10 text-capitalize"><a href="#">first heading</a></h4>
									<h2 class="m-tb0">$20.00 </h2>
									<a href="javascript:void(0)" class="site-button  m-t15">Add To Cart</a> </div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 m-b30">
							<div class="dez-box p-a20 border-1 bg-gray">
								<div class="dez-thum-bx dez-img-overlay1 dez-img-effect zoom"> <img loading="lazy" src="images/product/pic2.jpg" alt="">
									<div class="overlay-bx">
										<div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
									</div>
								</div>
								<div class="dez-info p-t20 text-center">
									<h4 class="dez-title m-t0 m-b10 text-capitalize"><a href="#">first heading</a></h4>
									<h2 class="m-tb0">$20.00 </h2>
									<a href="javascript:void(0)" class="site-button  m-t15">Add To Cart</a> </div>
							</div>
						</div>
					</div>
				</div>
            </div>
            <!-- Product END -->
        </div>
        <!-- contact area  END -->
    </div>
    <!-- Content END-->
    <!-- Footer -->
{% endblock content %}    