{%extends 'base.html'%} {%load static%} {%block content%}
<!-- header END -->
<!-- Content -->
<div class="page-content">
  <!-- inner page banner -->
  <div
    class="dez-bnr-inr overlay-black-middle"
    style="background-image: url(images/background/bg4.jpg)"
  >
    <div class="container">
      <div class="dez-bnr-inr-entry">
        <h1 class="text-white">List Groups</h1>
      </div>
    </div>
  </div>
  <!-- inner page banner END -->
  <!-- Breadcrumb row -->
  <div class="breadcrumb-row">
    <div class="container">
      <ul class="list-inline">
        <li><a href="index.html">Home</a></li>
        <li>List Groups</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb row END -->
  <div class="section-full content-inner">
    <!-- Left & right section start -->
    <div class="container">
      <!-- Listing with symbols -->
      <div class="m-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Listing with symbols</h2>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <ul class="list-circle">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
              <ul class="list-angle-right">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
              <ul class="list-arrow">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <hr />
            <div class="col-lg-4 col-sm-6">
              <ul class="list-check-circle primary">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
              <ul class="list-check secondry">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
              <ul class="list-checked black">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <hr />
            <div class="col-lg-4 col-sm-6">
              <ul class="list-chevron-circle orange">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
              <ul class="list-arrow-circle green">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
              <ul class="list-times-circle red">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Listing with symbols END -->
      <!-- Listing With Numbering & Alfha -->
      <div class="m-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Listing With Numbering &amp; Alfha</h2>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <ol class="list-num-count">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ol>
            </div>
            <div class="col-lg-4 col-sm-6">
              <ol class="list-num-count upper-alpha">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ol>
            </div>
            <div class="col-lg-4">
              <ol class="list-num-count lower-alpha">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Aorem ipsum dolor sit amet</li>
                <li>Borem ipsum dolor sit amet</li>
                <li>Corem ipsum dolor sit amet</li>
                <li>Dorem ipsum dolor sit amet</li>
                <li>Eorem ipsum dolor sit amet</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- Listing With Numbering & Alfha END -->
    </div>
    <!-- Left & right section  END -->
  </div>
</div>
<!-- Left & right section END -->
<!-- Content END-->
<!-- Footer -->
{%endblock content%}
