{% extends 'base.html' %} {% load static %} {% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content">
  <!-- inner page banner -->
  <div
    class="dez-bnr-inr overlay-black-middle"
    style="background-image: url(images/background/bg4.jpg)"
  >
    <div class="container">
      <div class="dez-bnr-inr-entry">
        <h1 class="text-white">Counters</h1>
      </div>
    </div>
  </div>
  <!-- inner page banner END -->
  <!-- Breadcrumb row -->
  <div class="breadcrumb-row">
    <div class="container">
      <ul class="list-inline">
        <li><a href="index.html">Home</a></li>
        <li>Counters</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb row END -->
  <!-- content start -->
  <div class="clearfix">
    <div class="section-full content-inner bg-white bg-img-fix">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="p-a30 m-b30 dez-box text-center border-3">
                <div class="icon-lg m-b20"><i class="fa fa-user"></i></div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="p-a30 m-b30 dez-box text-center border-3">
                <div class="icon-lg m-b20"><i class="fa fa-user"></i></div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="p-a30 m-b30 dez-box text-center border-3">
                <div class="icon-lg m-b20"><i class="fa fa-user"></i></div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="p-a30 m-b30 dez-box text-center border-3">
                <div class="icon-lg m-b20"><i class="fa fa-user"></i></div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="section-full overlay-black-dark bg-img-fix content-inner"
      style="background-image: url(images/background/bg1.jpg)"
    >
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-lg-3 col-sm-6 m-b30">
              <div class="p-a30 text-white text-center border-3">
                <div class="icon-lg m-b20"><i class="fa fa-user"></i></div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 m-b30">
              <div class="p-a30 text-white text-center border-3">
                <div class="icon-lg m-b20"><i class="fa fa-user"></i></div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 m-b30">
              <div class="p-a30 text-white text-center border-3">
                <div class="icon-lg m-b20"><i class="fa fa-user"></i></div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 m-b30">
              <div class="p-a30 text-white text-center border-3">
                <div class="icon-lg m-b20"><i class="fa fa-user"></i></div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-full bg-white bg-img-fix content-inner">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="m-b30 text-center">
                <div class="icon-bx-lg radius text-gray-dark border-2 m-b20">
                  <div class="icon-cell text-gray-dark">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="m-b30 text-center">
                <div class="icon-bx-lg radius text-gray-dark border-2 m-b20">
                  <div class="icon-cell text-gray-dark">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="m-b30 text-center">
                <div class="icon-bx-lg radius text-gray-dark border-2 m-b20">
                  <div class="icon-cell text-gray-dark">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="m-b30 text-center">
                <div class="icon-bx-lg radius text-gray-dark border-2 m-b20">
                  <div class="icon-cell text-gray-dark">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="section-full overlay-black-dark bg-img-fix content-inner"
      style="background-image: url(images/background/bg2.jpg)"
    >
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="m-b30 text-white text-center">
                <div class="icon-bx-lg radius border-2 m-b20">
                  <div class="icon-cell text-white">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="m-b30 text-white text-center">
                <div class="icon-bx-lg radius border-2 m-b20">
                  <div class="icon-cell text-white">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="m-b30 text-white text-center">
                <div class="icon-bx-lg radius border-2 m-b20">
                  <div class="icon-cell text-white">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="m-b30 text-white text-center">
                <div class="icon-bx-lg radius border-2 m-b20">
                  <div class="icon-cell text-white">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <div class="counter font-26 font-weight-800 text-primary m-b5">
                  10000
                </div>
                <span>projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-full bg-white content-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="dex-box text-primary border-2 counter-box m-b30">
              <h1 class="text-uppercase m-a0 p-a15">
                <i class="fa fa-building-o m-r20"></i>
                <span class="counter">1035</span>
              </h1>
              <h5 class="dez-tilte text-uppercase m-a0">
                <span
                  class="dez-tilte-inner skew-title bg-primary p-lr15 p-tb10"
                  >Active Experts</span
                >
              </h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="dex-box text-primary border-2 counter-box m-b30">
              <h1 class="text-uppercase m-a0 p-a15">
                <i class="fa fa-group m-r20"></i>
                <span class="counter">1226</span>
              </h1>
              <h5 class="dez-tilte text-uppercase m-a0">
                <span
                  class="dez-tilte-inner skew-title bg-primary p-lr15 p-tb10"
                  >Happy Client</span
                >
              </h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="dex-box text-primary border-2 counter-box m-b30">
              <h1 class="text-uppercase m-a0 p-a15">
                <i class="fa fa-slideshare m-r20"></i>
                <span class="counter">1552</span>
              </h1>
              <h5 class="dez-tilte text-uppercase m-a0">
                <span
                  class="dez-tilte-inner skew-title bg-primary p-lr15 p-tb10"
                  >Developer Hand</span
                >
              </h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="dex-box text-primary border-2 counter-box m-b30">
              <h1 class="text-uppercase m-a0 p-a15">
                <i class="fa fa-home m-r20"></i>
                <span class="counter">1156</span>
              </h1>
              <h5 class="dez-tilte text-uppercase m-a0">
                <span
                  class="dez-tilte-inner skew-title bg-primary p-lr15 p-tb10"
                  >Completed Project</span
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="section-full overlay-black-dark bg-img-fix content-inner"
      style="background-image: url(images/background/bg3.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="dex-box text-primary border-2 counter-box m-b30">
              <h1 class="text-uppercase text-white m-a0 p-a15">
                <i class="fa fa-building-o m-r20"></i>
                <span class="counter">1035</span>
              </h1>
              <h5 class="dez-tilte text-uppercase m-a0">
                <span
                  class="dez-tilte-inner skew-title bg-primary p-lr15 p-tb10"
                  >Active Experts</span
                >
              </h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="dex-box text-primary border-2 counter-box m-b30">
              <h1 class="text-uppercase text-white m-a0 p-a15">
                <i class="fa fa-group m-r20"></i>
                <span class="counter">1226</span>
              </h1>
              <h5 class="dez-tilte text-uppercase m-a0">
                <span
                  class="dez-tilte-inner skew-title bg-primary p-lr15 p-tb10"
                  >Happy Client</span
                >
              </h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="dex-box text-primary border-2 counter-box m-b30">
              <h1 class="text-uppercase text-white m-a0 p-a15">
                <i class="fa fa-slideshare m-r20"></i>
                <span class="counter">1552</span>
              </h1>
              <h5 class="dez-tilte text-uppercase m-a0">
                <span
                  class="dez-tilte-inner skew-title bg-primary p-lr15 p-tb10"
                  >Developer Hand</span
                >
              </h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="dex-box text-primary border-2 counter-box m-b30">
              <h1 class="text-uppercase text-white m-a0 p-a15">
                <i class="fa fa-home m-r20"></i>
                <span class="counter">1156</span>
              </h1>
              <h5 class="dez-tilte text-uppercase m-a0">
                <span
                  class="dez-tilte-inner skew-title bg-primary p-lr15 p-tb10"
                  >Completed Project</span
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content  END -->
</div>
<!-- Content END-->
<!-- Footer -->
{%endblock content%}
