{%extends 'base.html'%} {%load static%} {%block content%}
<!-- header END -->
<!-- Content -->
<div class="page-content">
  <!-- inner page banner -->
  <div
    class="dez-bnr-inr overlay-black-middle"
    style="background-image: url(images/background/bg4.jpg)"
  >
    <div class="container">
      <div class="dez-bnr-inr-entry">
        <h1 class="text-white">Images effects</h1>
      </div>
    </div>
  </div>
  <!-- inner page banner END -->
  <!-- Breadcrumb row -->
  <div class="breadcrumb-row">
    <div class="container">
      <ul class="list-inline">
        <li><a href="#">Home</a></li>
        <li>Images effects</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb row END -->
  <div class="section-full content-inner">
    <!-- Left & right section start -->
    <div class="container">
      <!-- Images overlay on hover -->
      <div class="m-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Images overlay on hover</h2>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay1">
                  <img loading="lazy" src="images/our-work/pic1.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 1</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay2">
                  <img loading="lazy" src="images/our-work/pic2.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 2</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay3">
                  <img loading="lazy" src="images/our-work/pic3.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 3</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay4">
                  <img loading="lazy" src="images/our-work/pic4.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 4</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay5">
                  <img loading="lazy" src="images/our-work/pic5.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 5</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay6">
                  <img loading="lazy" src="images/our-work/pic6.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 6</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay7">
                  <img loading="lazy" src="images/our-work/pic7.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 7</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay8">
                  <img loading="lazy" src="images/our-work/pic8.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 7</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay9">
                  <img loading="lazy" src="images/our-work/pic1.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 9</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Images overlay on hover END -->
      <!-- Images effect on hover -->
      <div class="m-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Images effect on hover</h2>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect opacity">
                  <img loading="lazy" src="images/our-work/pic1.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>opacity low</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect zoom">
                  <img loading="lazy" src="images/our-work/pic2.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>zoom</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect shrink">
                  <img loading="lazy" src="images/our-work/pic3.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>shrink</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect side-pan">
                  <img loading="lazy" src="images/our-work/pic4.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>left move</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect vertical-pan">
                  <img loading="lazy" src="images/our-work/pic5.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>vertical move</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect fade-in">
                  <img loading="lazy" src="images/our-work/pic8.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>fade-in</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect fade-out">
                  <img loading="lazy" src="images/our-work/pic7.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>fade out</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect rotate">
                  <img loading="lazy" src="images/our-work/pic2.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>image rotate</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect blurr">
                  <img loading="lazy" src="images/our-work/pic3.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>blurr</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect blurr-invert">
                  <img loading="lazy" src="images/our-work/pic4.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>blurr invert</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect off-color">
                  <img loading="lazy" src="images/our-work/pic8.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>off color hover</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect on-color">
                  <img loading="lazy" src="images/our-work/pic2.jpg" alt="" />
                </div>
                <div class="dez-title-bx">
                  <h4>on color hover</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Images effect on hover END -->
      <!-- Images overlay & content on hover -->
      <div class="m-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Images overlay & content on hover</h2>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay1 dez-img-effect zoom">
                  <img loading="lazy" src="images/our-work/pic1.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a href="javascript:void(0);">
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                      <a
                        class="mfp-link"
                        title="DexignZone"
                        href="images/our-work/pic1.jpg"
                      >
                        <i class="fa fa-picture-o icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 1</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay2 dez-img-effect zoom">
                  <img loading="lazy" src="images/our-work/pic4.jpg" alt="" />
                  <div class="dez-info-has p-a20">
                    <div class="dez-info-has-text">
                      We have the expertise to create just the right web
                      presence for you.
                    </div>
                    <ul class="dez-social-icon border">
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="fa fa-facebook"
                        ></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-twitter"></a>
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="fa fa-linkedin"
                        ></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-rss"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 2</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect zoom">
                  <img loading="lazy" src="images/our-work/pic2.jpg" alt="" />
                  <div class="dez-info-has p-a20 bg-primary">
                    <div class="dez-info-has-text">
                      We have the expertise to create just the right web
                      presence for you.
                    </div>
                    <ul class="dez-social-icon border">
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="fa fa-facebook"
                        ></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-twitter"></a>
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="fa fa-linkedin"
                        ></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-rss"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 3</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect zoom">
                  <img loading="lazy" src="images/our-work/pic7.jpg" alt="" />
                  <div class="dez-info-has p-a20 bg-black">
                    <div class="dez-info-has-text">
                      We have the expertise to create just the right web
                      presence for you.
                    </div>
                    <ul class="dez-social-icon border">
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="fa fa-facebook"
                        ></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-twitter"></a>
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="fa fa-linkedin"
                        ></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-rss"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 4</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect zoom">
                  <img loading="lazy" src="images/our-work/pic8.jpg" alt="" />
                  <div class="dez-info-has p-a20 bg-white no-hover">
                    <div class="dez-info-has-text">
                      We have the expertise to create just the right web
                      presence for you.
                    </div>
                    <ul class="dez-social-icon dark">
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="fa fa-facebook"
                        ></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-twitter"></a>
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="fa fa-linkedin"
                        ></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-rss"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 5</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-effect zoom">
                  <img loading="lazy" src="images/our-work/pic5.jpg" alt="" />
                  <div class="dez-info-has skew-has p-a20 bg-primary">
                    <div class="dez-info-has-text">
                      We have the expertise to create just the right web
                      presence for you.
                    </div>
                    <ul class="dez-social-icon border">
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="fa fa-facebook"
                        ></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-twitter"></a>
                      </li>
                      <li>
                        <a
                          href="javascript:void(0);"
                          class="fa fa-linkedin"
                        ></a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-rss"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 6</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="dez-box">
                <div class="dez-media dez-img-overlay11 dez-img-effect zoom">
                  <img loading="lazy" src="images/our-work/pic1.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a href="javascript:void(0);">
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                      <a
                        class="mfp-link"
                        title="DexignZone"
                        href="images/our-work/pic1.jpg"
                      >
                        <i class="fa fa-picture-o icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="dez-title-bx">
                  <h4>Effect 7</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Images overlay & content on hover END -->
    </div>
    <!-- Left & right section  END -->
  </div>
</div>
<!-- Left & right section END -->
<!-- Content END-->
<!-- Footer -->
{%endblock content%}
