{% extends 'base.html' %}
{% load static %}



{% block content %}
	<!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Tabs</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Tabs</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <div class="section-full content-inner">
            <!-- Left & right section start -->
            <div class="container">
                <div class="m-b30">
                    <div class="section-content">
                        <div class="clearfix">
                            <div class="row">
                                <!-- tabs defult -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs defult</h2>
                                    <div class="dez-tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-1"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-1"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-1"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-1" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-1" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-1" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs defult END -->
                                <!-- tabs content border -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs content border</h2>
                                    <div class="dez-tabs border">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-2"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-2"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-2"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-2" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-2" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-2" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs content border END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- tabs with background nav -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs with background nav</h2>
                                    <div class="dez-tabs bg-tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-3"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-3"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-3"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-3" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-3" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-3" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs with background nav END -->
                                <!-- tabs content border & background nav -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs content border &amp; background nav</h2>
                                    <div class="dez-tabs border bg-tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-4"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-4"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-4"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-4" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-4" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-4" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs content border & background nav END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- tabs with background nav -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs with background nav</h2>
                                    <div class="dez-tabs border-tp bg-tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-5"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-5"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-5"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-5" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-5" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-5" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs with background nav END -->
                                <!-- tabs content border & background nav -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs content border &amp; background nav</h2>
                                    <div class="dez-tabs border-top border bg-tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-6"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-6"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-6"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-6" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-6" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-6" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs content border & background nav END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- tabs nav left -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs nav left</h2>
                                    <div class="dez-tabs vertical">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-7"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-7"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-7"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-7" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-7" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-7" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs nav left END -->
                                <!-- tabs nav left & content border -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs nav left &amp; content border</h2>
                                    <div class="dez-tabs vertical  border">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-8"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-8"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-8"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-8" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-8" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-8" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs nav left & content border END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- tabs nav left & backgound tabs -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs nav left &amp; backgound tabs</h2>
                                    <div class="dez-tabs bg-tabs vertical">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-9"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-9"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-9"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-9" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-9" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-9" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs nav left & backgound tabs END -->
                                <!-- tabs nav left & content border -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs nav left &amp; content border</h2>
                                    <div class="dez-tabs bg-tabs vertical  border">
                                        <ul class="nav  nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-10"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-10"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-10"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-10" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-10" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-10" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs nav left & content border END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- tabs nav right -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs nav right</h2>
                                    <div class="dez-tabs vertical right">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-11"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-11"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-11"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-11" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-11" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-11" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs nav right END -->
                                <!-- tabs nav right & content border -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs nav right &amp; content border</h2>
                                    <div class="dez-tabs vertical right  border">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-12"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-12"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-12"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-12" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-12" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-12" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs nav right & content border END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- tabs nav right -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs nav right</h2>
                                    <div class="dez-tabs bg-tabs vertical right">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-13"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-13"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-13"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-13" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-13" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-13" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs nav right END -->
                                <!-- tabs nav right & content border -->
                                <div class="col-lg-6 p-b20">
                                    <h2 class="text-uppercase m-b30">tabs nav right &amp; content border</h2>
                                    <div class="dez-tabs bg-tabs vertical right  border">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-design-14"><i class="fa fa-globe"></i> <span class="title-head">   Web design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design-14"><i class="fa fa-photo"></i>  <span class="title-head">Graphic Design</span></a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#developement-14"><i class="fa fa-cog"></i>  <span class="title-head">  developement</span></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="web-design-14" class="tab-pane active">
                                                <p class="m-b0"><strong><em>Web design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Suspendisse et justo. 
                                                    Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="graphic-design-14" class="tab-pane">
                                                <p class="m-b0"><strong><em>Graphic Design lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Praesent Suspendisse 
                                                    et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                            <div id="developement-14" class="tab-pane">
                                                <p class="m-b0"><strong><em>Developement lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></strong><br>
                                                    Commyolk Suspendisse 
                                                    et justo. Praesent mattis  augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. 
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis 
                                                    commyolk augue aliquam ornare augue.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tabs nav right & content border END -->
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left & right section  END -->
        </div>
    </div>
    <!-- Content END-->
    <!-- Footer -->
{%endblock content%}
   