{% extends 'base.html' %} {% load static %} {% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content">
  <!-- inner page banner -->
  <div
    class="dez-bnr-inr overlay-black-middle"
    style="background-image: url(images/background/bg4.jpg)"
  >
    <div class="container">
      <div class="dez-bnr-inr-entry">
        <h1 class="text-white">Carousel Sliders</h1>
      </div>
    </div>
  </div>
  <!-- inner page banner END -->
  <!-- Breadcrumb row -->
  <div class="breadcrumb-row">
    <div class="container">
      <ul class="list-inline">
        <li><a href="index.html">Home</a></li>
        <li>Carousel Sliders</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb row END -->
  <div class="content-area">
    <!-- content start -->
    <div class="container">
      <!-- Image Carousel start -->
      <div class="p-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Image Carousel</h2>
        </div>
        <div class="section-content">
          <div
            class="owl-carousel owl-theme img-carousel mfp-gallery gallery owl-btn-center-lr"
          >
            <div class="item">
              <div class="ow-img dez-img-effect zoom-slow">
                <a href="#"><img loading="lazy" src="images/our-work/pic1.jpg" alt="" /></a>
              </div>
            </div>
            <div class="item">
              <div class="ow-img dez-img-effect zoom-slow">
                <a href="#"><img loading="lazy" src="images/our-work/pic2.jpg" alt="" /></a>
              </div>
            </div>
            <div class="item">
              <div class="owl-img dez-img-effect zoom-slow">
                <a href="#"><img loading="lazy" src="images/our-work/pic3.jpg" alt="" /></a>
              </div>
            </div>
            <div class="item">
              <div class="ow-img dez-img-effect zoom-slow">
                <a href="#"><img loading="lazy" src="images/our-work/pic4.jpg" alt="" /></a>
              </div>
            </div>
            <div class="item">
              <div class="ow-img dez-img-effect zoom-slow">
                <a href="#"><img loading="lazy" src="images/our-work/pic5.jpg" alt="" /></a>
              </div>
            </div>
            <div class="item">
              <div class="ow-img dez-img-effect zoom-slow">
                <a href="#"><img loading="lazy" src="images/our-work/pic6.jpg" alt="" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Image Carousel start END-->
      <!-- Image Carousel with content -->
      <div class="p-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Image Carousel with content</h2>
        </div>
        <div class="section-content">
          <div
            class="owl-carousel owl-theme img-carousel-content mfp-gallery gallery owl-btn-center-lr"
          >
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic1.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                  <div class="ow-entry-text">
                    <p>
                      Lorem ipsum dolor consectetur adipiscing Fusce varius
                      euismod lacus eget feugiat...
                    </p>
                  </div>
                  <div class="ow-entry-button"></div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic2.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                  <div class="ow-entry-text">
                    <p>
                      Lorem ipsum dolor consectetur adipiscing Fusce varius
                      euismod lacus eget feugiat...
                    </p>
                  </div>
                  <div class="ow-entry-button"></div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic3.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                  <div class="ow-entry-text">
                    <p>
                      Lorem ipsum dolor consectetur adipiscing Fusce varius
                      euismod lacus eget feugiat...
                    </p>
                  </div>
                  <div class="ow-entry-button"></div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic4.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                  <div class="ow-entry-text">
                    <p>
                      Lorem ipsum dolor consectetur adipiscing Fusce varius
                      euismod lacus eget feugiat...
                    </p>
                  </div>
                  <div class="ow-entry-button"></div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic5.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                  <div class="ow-entry-text">
                    <p>
                      Lorem ipsum dolor consectetur adipiscing Fusce varius
                      euismod lacus eget feugiat...
                    </p>
                  </div>
                  <div class="ow-entry-button"></div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic6.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                  <div class="ow-entry-text">
                    <p>
                      Lorem ipsum dolor consectetur adipiscing Fusce varius
                      euismod lacus eget feugiat...
                    </p>
                  </div>
                  <div class="ow-entry-button"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Image Carousel with content END -->
      <!-- Image Carousel with team member -->
      <div class="p-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Image Carousel with team member</h2>
        </div>
        <div class="section-content">
          <div
            class="owl-carousel owl-theme img-carousel-content mfp-gallery gallery owl-btn-center-lr"
          >
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic1.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic3.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic5.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic7.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic8.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-carousel-entry">
                <div class="ow-entry-media dez-img-effect zoom-slow">
                  <a href="#"><img loading="lazy" src="images/our-work/pic3.jpg" alt="" /></a>
                </div>
                <div class="ow-entry-content">
                  <div class="ow-entry-title">
                    <a href="#">first heading</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Image Carousel with team member END -->
      <!-- Portfolio Carousel with team member -->
      <div class="p-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Portfolio Carousel</h2>
        </div>
        <div class="section-content">
          <div
            class="owl-carousel owl-theme portfolio-carousel mfp-gallery gallery owl-btn-center-lr"
          >
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic1.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic2.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic3.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic4.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic5.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic6.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Portfolio Carousel with team member END -->
      <!-- Portfolio Carousel with no margin -->
      <div class="p-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Portfolio Carousel no margin</h2>
        </div>
        <div class="section-content">
          <div
            class="owl-carousel owl-theme portfolio-carousel-nogap mfp-gallery gallery owl-btn-center-lr"
          >
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic1.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic2.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic3.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic4.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic5.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-portfolio">
                <div
                  class="ow-portfolio-img dez-img-overlay1 dez-img-effect zoom-slow"
                >
                  <img loading="lazy" src="images/our-work/pic6.jpg" alt="" />
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-search-plus icon-bx-xs"></i>
                      </a>
                      <a
                        href="images/our-work/pic2.jpg"
                        class="mfp-link"
                        title="DexignZone"
                      >
                        <i class="fa fa-link icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Portfolio Carousel with no margin END -->
      <!-- blog post Carousel with no margin -->
      <div class="p-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Blog post Carousel</h2>
        </div>
        <div class="section-content">
          <div
            class="owl-carousel owl-theme blog-carousel mfp-gallery gallery owl-btn-center-lr"
          >
            <div class="item">
              <div class="ow-blog-post date-style-2">
                <div class="ow-post-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic1.jpg" alt="" />
                </div>
                <div class="ow-post-info">
                  <div class="ow-post-title">
                    <h4 class="post-title">
                      <a href="#" title="Video post"
                        >Blog post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-post-meta">
                    <ul>
                      <li class="post-date">
                        <i class="fa fa-calendar"></i><strong>17 Mar</strong>
                        <span> 2020</span>
                      </li>
                      <li class="post-author">
                        <i class="fa fa-user"></i>By
                        <a href="#" title="Posts by demongo" rel="author"
                          >demongo</a
                        >
                      </li>
                      <li class="post-comment">
                        <i class="fa fa-comments"></i>
                        <a href="#" class="comments-link">1 Comment</a>
                      </li>
                    </ul>
                  </div>
                  <div class="ow-post-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-post-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-post-tags clearfix">
                    <div class="post-tags">
                      <a href="#">Child </a> <a href="#">Eduction </a>
                      <a href="#">Money </a> <a href="#">Resturent </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-blog-post date-style-2">
                <div class="ow-post-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic2.jpg" alt="" />
                </div>
                <div class="ow-post-info">
                  <div class="ow-post-title">
                    <h4 class="post-title">
                      <a href="#" title="Video post"
                        >Blog post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-post-meta">
                    <ul>
                      <li class="post-date">
                        <i class="fa fa-calendar"></i><strong>17 Mar</strong>
                        <span> 2020</span>
                      </li>
                      <li class="post-author">
                        <i class="fa fa-user"></i>By
                        <a href="#" title="Posts by demongo" rel="author"
                          >demongo</a
                        >
                      </li>
                      <li class="post-comment">
                        <i class="fa fa-comments"></i>
                        <a href="#" class="comments-link">1 Comment</a>
                      </li>
                    </ul>
                  </div>
                  <div class="ow-post-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-post-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-post-tags clearfix">
                    <div class="post-tags">
                      <a href="#">Child </a> <a href="#">Eduction </a>
                      <a href="#">Money </a> <a href="#">Resturent </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-blog-post date-style-2">
                <div class="ow-post-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic3.jpg" alt="" />
                </div>
                <div class="ow-post-info">
                  <div class="ow-post-title">
                    <h4 class="post-title">
                      <a href="#" title="Video post"
                        >Blog post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-post-meta">
                    <ul>
                      <li class="post-date">
                        <i class="fa fa-calendar"></i><strong>17 Mar</strong>
                        <span> 2020</span>
                      </li>
                      <li class="post-author">
                        <i class="fa fa-user"></i>By
                        <a href="#" title="Posts by demongo" rel="author"
                          >demongo</a
                        >
                      </li>
                      <li class="post-comment">
                        <i class="fa fa-comments"></i>
                        <a href="#" class="comments-link">1 Comment</a>
                      </li>
                    </ul>
                  </div>
                  <div class="ow-post-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-post-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-post-tags clearfix">
                    <div class="post-tags">
                      <a href="#">Child </a> <a href="#">Eduction </a>
                      <a href="#">Money </a> <a href="#">Resturent </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-blog-post date-style-2">
                <div class="ow-post-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic4.jpg" alt="" />
                </div>
                <div class="ow-post-info">
                  <div class="ow-post-title">
                    <h4 class="post-title">
                      <a href="#" title="Video post"
                        >Blog post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-post-meta">
                    <ul>
                      <li class="post-date">
                        <i class="fa fa-calendar"></i><strong>17 Mar</strong>
                        <span> 2020</span>
                      </li>
                      <li class="post-author">
                        <i class="fa fa-user"></i>By
                        <a href="#" title="Posts by demongo" rel="author"
                          >demongo</a
                        >
                      </li>
                      <li class="post-comment">
                        <i class="fa fa-comments"></i>
                        <a href="#" class="comments-link">1 Comment</a>
                      </li>
                    </ul>
                  </div>
                  <div class="ow-post-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-post-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-post-tags clearfix">
                    <div class="post-tags">
                      <a href="#">Child </a> <a href="#">Eduction </a>
                      <a href="#">Money </a> <a href="#">Resturent </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-blog-post date-style-2">
                <div class="ow-post-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic5.jpg" alt="" />
                </div>
                <div class="ow-post-info">
                  <div class="ow-post-title">
                    <h4 class="post-title">
                      <a href="#" title="Video post"
                        >Blog post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-post-meta">
                    <ul>
                      <li class="post-date">
                        <i class="fa fa-calendar"></i><strong>17 Mar</strong>
                        <span> 2020</span>
                      </li>
                      <li class="post-author">
                        <i class="fa fa-user"></i>By
                        <a href="#" title="Posts by demongo" rel="author"
                          >demongo</a
                        >
                      </li>
                      <li class="post-comment">
                        <i class="fa fa-comments"></i>
                        <a href="#" class="comments-link">1 Comment</a>
                      </li>
                    </ul>
                  </div>
                  <div class="ow-post-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-post-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-post-tags clearfix">
                    <div class="post-tags">
                      <a href="#">Child </a> <a href="#">Eduction </a>
                      <a href="#">Money </a> <a href="#">Resturent </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-blog-post date-style-2">
                <div class="ow-post-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic6.jpg" alt="" />
                </div>
                <div class="ow-post-info">
                  <div class="ow-post-title">
                    <h4 class="post-title">
                      <a href="#" title="Video post"
                        >Blog post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-post-meta">
                    <ul>
                      <li class="post-date">
                        <i class="fa fa-calendar"></i><strong>17 Mar</strong>
                        <span> 2020</span>
                      </li>
                      <li class="post-author">
                        <i class="fa fa-user"></i>By
                        <a href="#" title="Posts by demongo" rel="author"
                          >demongo</a
                        >
                      </li>
                      <li class="post-comment">
                        <i class="fa fa-comments"></i>
                        <a href="#" class="comments-link">1 Comment</a>
                      </li>
                    </ul>
                  </div>
                  <div class="ow-post-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-post-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-post-tags clearfix">
                    <div class="post-tags">
                      <a href="#">Child </a> <a href="#">Eduction </a>
                      <a href="#">Money </a> <a href="#">Resturent </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- blog post Carousel with no margin END -->
      <!-- Event post Carousel with no margin -->
      <div class="p-b30">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Event post Carousel</h2>
        </div>
        <div class="section-content">
          <div
            class="owl-carousel owl-theme blog-carousel mfp-gallery gallery owl-btn-center-lr"
          >
            <div class="item">
              <div class="ow-event-post date-style-2">
                <div class="ow-event-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic6.jpg" alt="" />
                </div>
                <div class="ow-event-info">
                  <div class="ow-event-title">
                    <h4 class="event-title">
                      <a href="#" title="Video post"
                        >Event post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-event-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-event-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-event-meta">
                    <ul class="icon-list">
                      <li class="event-date">
                        <i class="fa fa-calendar"></i>Sep 06, 2020
                      </li>
                      <li class="event-time">
                        <i class="fa fa-clock-o"></i>11:52 AM
                      </li>
                      <li class="event-address">
                        <i class="fa fa-map-marker"></i>south africa
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-event-post date-style-2">
                <div class="ow-event-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic6.jpg" alt="" />
                </div>
                <div class="ow-event-info">
                  <div class="ow-event-title">
                    <h4 class="event-title">
                      <a href="#" title="Video post"
                        >Event post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-event-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-event-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-event-meta">
                    <ul class="icon-list">
                      <li class="event-date">
                        <i class="fa fa-calendar"></i>Sep 06, 2020
                      </li>
                      <li class="event-time">
                        <i class="fa fa-clock-o"></i>11:52 AM
                      </li>
                      <li class="event-address">
                        <i class="fa fa-map-marker"></i>south africa
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-event-post date-style-2">
                <div class="ow-event-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic6.jpg" alt="" />
                </div>
                <div class="ow-event-info">
                  <div class="ow-event-title">
                    <h4 class="event-title">
                      <a href="#" title="Video post"
                        >Event post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-event-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-event-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-event-meta">
                    <ul class="icon-list">
                      <li class="event-date">
                        <i class="fa fa-calendar"></i>Sep 06, 2020
                      </li>
                      <li class="event-time">
                        <i class="fa fa-clock-o"></i>11:52 AM
                      </li>
                      <li class="event-address">
                        <i class="fa fa-map-marker"></i>south africa
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-event-post date-style-2">
                <div class="ow-event-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic6.jpg" alt="" />
                </div>
                <div class="ow-event-info">
                  <div class="ow-event-title">
                    <h4 class="event-title">
                      <a href="#" title="Video post"
                        >Event post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-event-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-event-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-event-meta">
                    <ul class="icon-list">
                      <li class="event-date">
                        <i class="fa fa-calendar"></i>Sep 06, 2020
                      </li>
                      <li class="event-time">
                        <i class="fa fa-clock-o"></i>11:52 AM
                      </li>
                      <li class="event-address">
                        <i class="fa fa-map-marker"></i>south africa
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-event-post date-style-2">
                <div class="ow-event-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic6.jpg" alt="" />
                </div>
                <div class="ow-event-info">
                  <div class="ow-event-title">
                    <h4 class="event-title">
                      <a href="#" title="Video post"
                        >Event post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-event-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-event-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-event-meta">
                    <ul class="icon-list">
                      <li class="event-date">
                        <i class="fa fa-calendar"></i>Sep 06, 2020
                      </li>
                      <li class="event-time">
                        <i class="fa fa-clock-o"></i>11:52 AM
                      </li>
                      <li class="event-address">
                        <i class="fa fa-map-marker"></i>south africa
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ow-event-post date-style-2">
                <div class="ow-event-media dez-img-effect zoom-slow">
                  <img loading="lazy" src="images/our-work/pic6.jpg" alt="" />
                </div>
                <div class="ow-event-info">
                  <div class="ow-event-title">
                    <h4 class="event-title">
                      <a href="#" title="Video post"
                        >Event post carousel title</a
                      >
                    </h4>
                  </div>
                  <div class="ow-event-text">
                    <p>
                      Lorem Ipsum by the readable content of a page when looking
                      at its layout. The point of using Lorem Ipsum is that it
                      has a more-or-less normal [..]
                    </p>
                  </div>
                  <div class="ow-event-readmore">
                    <a
                      href="#"
                      title="READ MORE"
                      rel="bookmark"
                      class="site-button-link"
                    >
                      READ MORE <i class="fa fa-angle-double-right"></i
                    ></a>
                  </div>
                  <div class="ow-event-meta">
                    <ul class="icon-list">
                      <li class="event-date">
                        <i class="fa fa-calendar"></i>Sep 06, 2020
                      </li>
                      <li class="event-time">
                        <i class="fa fa-clock-o"></i>11:52 AM
                      </li>
                      <li class="event-address">
                        <i class="fa fa-map-marker"></i>south africa
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Event post Carousel with no margin END -->
      <!-- Client logo Carousel -->
      <div class="section-full bg-img-fix p-tb15">
        <div class="container">
          <div class="section-content">
            <div
              class="owl-carousel owl-theme client-logo-carousel mfp-gallery gallery owl-btn-center-lr"
            >
              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo">
                    <a href="#"
                      ><img loading="lazy" src="images/client-logo/logo1.jpg" alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo">
                    <a href="#"
                      ><img loading="lazy" src="images/client-logo/logo2.jpg" alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo">
                    <a href="#"
                      ><img loading="lazy" src="images/client-logo/logo1.jpg" alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo">
                    <a href="#"
                      ><img loading="lazy" src="images/client-logo/logo3.jpg" alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo">
                    <a href="#"
                      ><img loading="lazy" src="images/client-logo/logo4.jpg" alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="ow-client-logo">
                  <div class="client-logo">
                    <a href="#"
                      ><img loading="lazy" src="images/client-logo/logo3.jpg" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Client logo Carousel END -->
      <!-- Fade Carousel -->
      <div class="container p-t20 p-b15">
        <div class="container">
          <div class="section-head">
            <h2>Fade slide</h2>
          </div>
        </div>
        <div class="section-content">
          <div class="owl-carousel owl-theme owl-fade-one">
            <div class="item">
              <div class="dez-thum-bx">
                <img loading="lazy" src="images/gallery/large/pic1.jpg" alt="" />
              </div>
            </div>
            <div class="item">
              <div class="dez-thum-bx">
                <img loading="lazy" src="images/gallery/large/pic2.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fade Carousel END -->
    </div>
    <!-- content  END -->
  </div>
</div>
<!-- Content END-->
<!-- Footer -->
{%endblock content%}
