{%load 'base.html'%} {%load static%} {%block content%}
<!-- header END -->
<!-- Content -->
<div class="page-content">
  <!-- inner page banner -->
  <div
    class="dez-bnr-inr overlay-black-middle"
    style="background-image: url(images/banner/bnr1.jpg)"
  >
    <div class="container">
      <div class="dez-bnr-inr-entry">
        <h1 class="text-white">Light Box Gallery</h1>
      </div>
    </div>
  </div>
  <!-- inner page banner END -->
  <!-- Breadcrumb row -->
  <div class="breadcrumb-row">
    <div class="container">
      <ul class="list-inline">
        <li><a href="index.html">Home</a></li>
        <li>Light Box Gallery</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb row END -->
  <div class="content-area gallery-area">
    <!-- Left & right section start -->
    <div class="container">
      <!-- Light Box Grid -->
      <div class="Section-full">
        <div class="section-head text-center">
          <h2 class="text-uppercase">Light Box Grid</h2>
        </div>
        <div class="section-content">
          <div class="site-filters clearfix center m-b40">
            <ul class="filters1" data-toggle="buttons">
              <li data-filter="" class="btn active">
                <input type="radio" /><a
                  href="#"
                  class="site-button-secondry radius-xl"
                  ><span>All Sports</span></a
                >
              </li>
              <li data-filter="water" class="btn">
                <input type="radio" /><a
                  href="#"
                  class="site-button-secondry radius-xl"
                  ><span>Water Sports</span></a
                >
              </li>
              <li data-filter="jumping" class="btn">
                <input type="radio" /><a
                  href="#"
                  class="site-button-secondry radius-xl"
                  ><span>Jumping</span></a
                >
              </li>
              <li data-filter="bikes" class="btn">
                <input type="radio" /><a
                  href="#"
                  class="site-button-secondry radius-xl"
                  ><span>Bikes</span></a
                >
              </li>
            </ul>
          </div>
          <ul
            id="masonry1"
            class="row dez-gallery-listing gallery-grid-4 m-lr0 lightgallery"
          >
            <li class="water card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/pic1.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/pic1.jpg"
                        data-src="images/gallery/pic1.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Grid 1"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="jumping card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/pic2.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/pic2.jpg"
                        data-src="images/gallery/pic2.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Grid 2"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="bikes card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/pic3.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/pic3.jpg"
                        data-src="images/gallery/pic3.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Grid 3"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="water card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/pic4.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/pic4.jpg"
                        data-src="images/gallery/pic4.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Grid 1"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="jumping card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/pic5.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/pic5.jpg"
                        data-src="images/gallery/pic5.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Grid 5"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="bikes card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/pic6.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/pic6.jpg"
                        data-src="images/gallery/pic6.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Grid 6"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Light Box Grid End -->
      <hr class="m-b50" />
      <!-- Light Box Masonry-->
      <div class="Section-full">
        <div class="section-head text-center">
          <h2 class="text-uppercase">Light Box Masonry</h2>
        </div>
        <div class="section-content">
          <div class="site-filters clearfix center m-b40">
            <ul class="filters2" data-toggle="buttons">
              <li data-filter="" class="btn active">
                <input type="radio" /><a
                  href="#"
                  class="site-button-secondry radius-xl"
                  ><span>All Sports</span></a
                >
              </li>
              <li data-filter="water" class="btn">
                <input type="radio" /><a
                  href="#"
                  class="site-button-secondry radius-xl"
                  ><span>Water Sports</span></a
                >
              </li>
              <li data-filter="jumping" class="btn">
                <input type="radio" /><a
                  href="#"
                  class="site-button-secondry radius-xl"
                  ><span>Jumping</span></a
                >
              </li>
              <li data-filter="bikes" class="btn">
                <input type="radio" /><a
                  href="#"
                  class="site-button-secondry radius-xl"
                  ><span>Bikes</span></a
                >
              </li>
            </ul>
          </div>
          <ul
            id="masonry2"
            class="row dez-gallery-listing gallery-grid-4 m-lr0 lightgallery"
          >
            <li class="water card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/masonry/pic1.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/masonry/pic1.jpg"
                        data-src="images/gallery/masonry/pic1.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Masonry 1"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="jumping card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/masonry/pic4.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/masonry/pic4.jpg"
                        data-src="images/gallery/masonry/pic4.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Masonry 2"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="bikes card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/masonry/pic2.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/masonry/pic2.jpg"
                        data-src="images/gallery/masonry/pic2.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Masonry 3"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="water card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/masonry/pic3.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/masonry/pic3.jpg"
                        data-src="images/gallery/masonry/pic3.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Masonry 4"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="jumping card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/masonry/pic6.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/masonry/pic6.jpg"
                        data-src="images/gallery/masonry/pic6.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Masonry 6"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="bikes card-container col-lg-4 col-md-4 col-sm-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/masonry/pic5.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/masonry/pic5.jpg"
                        data-src="images/gallery/masonry/pic5.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Masonry 5"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Light Box Masonry End -->
      <hr class="m-b50" />
      <!-- Light Box Carousel -->
      <div class="Section-full">
        <div class="section-head">
          <h2 class="text-uppercase">Light Box Carousel</h2>
        </div>
        <div class="section-content text-center">
          <div
            class="owl-carousel img-carousel-content owl-dots-none owl-btn-1 primary lightgallery owl-btn-center-lr"
          >
            <div class="item">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/pic1.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/pic1.jpg"
                        data-src="images/gallery/pic1.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Carousel 1"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/pic2.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/pic2.jpg"
                        data-src="images/gallery/pic2.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Carousel 2"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/pic3.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/pic3.jpg"
                        data-src="images/gallery/pic3.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Carousel 3"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img loading="lazy" src="images/gallery/pic4.jpg" alt="" />
                  </a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <span
                        data-exthumbimage="images/gallery/pic4.jpg"
                        data-src="images/gallery/pic4.jpg"
                        class="icon-bx-xs check-km"
                        title="Light Gallery Carousel 4"
                      >
                        <i class="fa fa-picture-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Light Box Carousel END -->
    </div>
    <!-- Left & right section  END -->
  </div>
</div>
<!-- Left & right section END -->
<!-- Footer -->
{%endblock content%}
