{%extends 'base.html'%} {%load static%} {%block content%}
<!-- header END -->
<!-- Content -->
<div class="page-content">
  <!-- inner page banner -->
  <div
    class="dez-bnr-inr overlay-black-middle"
    style="background-image: url(images/background/bg4.jpg)"
  >
    <div class="container">
      <div class="dez-bnr-inr-entry">
        <h1 class="text-white">Images box content</h1>
      </div>
    </div>
  </div>
  <!-- inner page banner END -->
  <!-- Breadcrumb row -->
  <div class="breadcrumb-row">
    <div class="container">
      <ul class="list-inline">
        <li><a href="#">Home</a></li>
        <li>Images box content</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb row END -->
  <div class="section-full content-inner">
    <!-- Left & right section start -->
    <div class="container">
      <!-- Images box with content demo 1 -->
      <div class="m-b20">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Images box with content demo 1</h2>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic1.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <h4 class="dez-title m-t20"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor consectetur adipiscing Fusce varius
                    euismod lacus eget feugiat rorem ipsum dolor consectetur
                    Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic2.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <h4 class="dez-title m-t20"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor consectetur adipiscing Fusce varius
                    euismod lacus eget feugiat rorem ipsum dolor consectetur
                    Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic3.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <h4 class="dez-title m-t20"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor consectetur adipiscing Fusce varius
                    euismod lacus eget feugiat rorem ipsum dolor consectetur
                    Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Images box with content demo 1 END -->
      <!-- Images box with content demo 2 -->
      <div class="m-b20">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Images box with content demo 2</h2>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic1.jpg" alt="" /></a>
                </div>
                <div class="dez-info p-a30 border-1">
                  <h4 class="dez-title m-t0"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor Fusce varius euismod lacus eget feugiat
                    rorem ipsum dolor consectetur Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic2.jpg" alt="" /></a>
                </div>
                <div class="dez-info p-a30 border-1">
                  <h4 class="dez-title m-t0"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor Fusce varius euismod lacus eget feugiat
                    rorem ipsum dolor consectetur Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic3.jpg" alt="" /></a>
                </div>
                <div class="dez-info p-a30 border-1">
                  <h4 class="dez-title m-t0"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor Fusce varius euismod lacus eget feugiat
                    rorem ipsum dolor consectetur Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Images box with content demo 2 END-->
      <!-- Images box with content demo 3 -->
      <div class="m-b20">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Images box with content demo 3</h2>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic1.jpg" alt="" /></a>
                </div>
                <div class="dez-info p-a30 bg-gray">
                  <h4 class="dez-title m-t0"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor Fusce varius euismod lacus eget feugiat
                    rorem ipsum dolor consectetur Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic2.jpg" alt="" /></a>
                </div>
                <div class="dez-info p-a30 bg-gray">
                  <h4 class="dez-title m-t0"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor Fusce varius euismod lacus eget feugiat
                    rorem ipsum dolor consectetur Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic3.jpg" alt="" /></a>
                </div>
                <div class="dez-info p-a30 bg-gray">
                  <h4 class="dez-title m-t0"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor Fusce varius euismod lacus eget feugiat
                    rorem ipsum dolor consectetur Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Images box with content demo 3 END-->
      <!-- Images box with content demo 4 -->
      <div class="m-b20">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Images box with content demo 4</h2>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box p-a20 border-1">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic1.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <h4 class="dez-title m-t20"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor consectetur adipiscing Fusce varius
                    euismod lacus eget feugiat rorem ipsum dolor consectetur
                    Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box p-a20 border-1">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic2.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <h4 class="dez-title m-t20"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor consectetur adipiscing Fusce varius
                    euismod lacus eget feugiat rorem ipsum dolor consectetur
                    Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box p-a20 border-1">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic3.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <h4 class="dez-title m-t20"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor consectetur adipiscing Fusce varius
                    euismod lacus eget feugiat rorem ipsum dolor consectetur
                    Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Images box with content demo 4 END -->
      <!-- Images box with content demo 5 -->
      <div class="">
        <div class="section-head inner-haed">
          <h2 class="text-uppercase">Images box with content demo 5</h2>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box p-a20 border-1 bg-gray">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic1.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <h4 class="dez-title m-t20"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor consectetur adipiscing Fusce varius
                    euismod lacus eget feugiat rorem ipsum dolor consectetur
                    Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box p-a20 border-1 bg-gray">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic2.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <h4 class="dez-title m-t20"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor consectetur adipiscing Fusce varius
                    euismod lacus eget feugiat rorem ipsum dolor consectetur
                    Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
              <div class="dez-box p-a20 border-1 bg-gray">
                <div class="dez-media">
                  <a href="#"><img loading="lazy" src="images/our-work/pic3.jpg" alt="" /></a>
                </div>
                <div class="dez-info">
                  <h4 class="dez-title m-t20"><a href="#">first heading</a></h4>
                  <p>
                    Lorem ipsum dolor consectetur adipiscing Fusce varius
                    euismod lacus eget feugiat rorem ipsum dolor consectetur
                    Fusce varius [...]
                  </p>
                  <a href="#" class="site-button">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Images box with content demo 5 END -->
    </div>
    <!-- Left & right section  END -->
  </div>
</div>
<!-- Left & right section END -->
<!-- Content END-->
<!-- Footer -->
{%endblock content%}
