{% extends 'base.html' %}
{% load static %}



{% block content %}
	<!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Toggles</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>Toggles</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <div class="section-full content-inner">
            <!-- Left & right section start -->
            <div class="container">
                <div class="">
                    <div class="section-content">
                        <div class="clearfix">
                            <div class="row">
                                <!-- Defult Accordion Style 1 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Defult Accordion  Style 1</h4>
                                    <div class="dez-accordion toggle" id="accodion1">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne1" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne1" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo1" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo1" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree1" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree1" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Defult Accordion Style 1 END -->
                                <!-- Rounded Accordion Style 1 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Rounded Accordion Style 1</h4>
                                    <div class="dez-accordion toggle rounded" id="accordion2">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne2" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne2" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo2" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo2" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree2" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree2" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rounded Accordion Style 1 END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- Defult Accordion Style 2-->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Defult Accordion Style 2</h4>
                                    <div class="dez-accordion toggle bg-title" id="accordion3">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne3" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne3" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo3" class="collapsed" ><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo3" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree3" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree3" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Defult Accordion Style 2 END -->
                                <!-- Rounded Accordion Style 2 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Rounded Accordion Style 2</h4>
                                    <div class="dez-accordion toggle rounded bg-title" id="accordion4">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne4" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne4" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo4" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo4" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree4" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree4" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rounded Accordion Style 2 END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- Defult Accordion Style 3 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Defult Accordion Style 3</h4>
                                    <div class="dez-accordion toggle bg-title no-cover" id="accordion5">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne5" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne5" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo5" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo5" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree5" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree5" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Defult Accordion Style 3 END -->
                                <!-- Rounded Accordion Style 3 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Rounded Accordion Style 3 </h4>
                                    <div class="dez-accordion toggle rounded bg-title no-cover" id="accordion6">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne6" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne6" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo6" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo6" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree6" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree6" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rounded Accordion Style 3 END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- Defult Accordion Space -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Defult Accordion Space</h4>
                                    <div class="dez-accordion toggle space" id="accordion7">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne7" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne7" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo7" class="collapsed" ><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo7" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree7" class="collapsed"  ><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree7" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Defult Accordion Space END -->
                                <!-- Rounded Accordion Space -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Rounded Accordion Space</h4>
                                    <div class="dez-accordion toggle rounded space" id="accordion8">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne8" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne8" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo8" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo8" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree8" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree8" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rounded Accordion Space -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- Defult Accordion Space Background Style 1 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Defult Accordion Space &amp; Background</h4>
                                    <div class="dez-accordion toggle space bg-title" id="accordion9">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne9" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne9" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo9" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo9" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree9" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree9" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Defult Accordion Space Background Style 1 END -->
                                <!-- Rounded Accordion Space Background Style 1 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Rounded Accordion Space &amp; Background</h4>
                                    <div class="dez-accordion toggle rounded space bg-title" id="accordion10">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne10" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne10" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo10" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo10" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree10" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree10" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rounded Accordion Space Background Style 1 END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- Defult Accordion Space Background Style 2 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Defult Accordion Space &amp; background</h4>
                                    <div class="dez-accordion toggle space bg-title no-cover" id="accordion11">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne11" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne11" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo11" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo11" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree11" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree11" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Defult Accordion Space Background Style 2 END -->
                                <!-- Rounded Accordion Space Background Style 2 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Rounded Accordion Space &amp; Background</h4>
                                    <div class="dez-accordion toggle rounded space bg-title no-cover" id="accordion12">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne12" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne12" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo12" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo12" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree12" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree12" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rounded Accordion Space Background Style 2 END -->
                            </div>
                            <hr/>
                            <div class="row">
                                <!-- Defult Accordion Style 4 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Defult Accordion Style 4</h4>
                                    <div class="dez-accordion toggle border-bottom no-cover" id="accordion13">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne13" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne13" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo13" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo13" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree13" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree13" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Defult Accordion Style 4 END -->
                                <!-- Rounded Accordion Style 4 -->
                                <div class="col-lg-6 p-b30">
                                    <h4 class="text-uppercase m-b30">Rounded Accordion</h4>
                                    <div class="dez-accordion toggle border-bottom  no-border no-cover" id="accordion14">
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne14" class="collapsed"><i class="fa fa-globe"></i> Awsome Web Design</a> </h5>
                                            </div>
                                            <div id="collapseOne14" class="acod-body collapse">
                                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.Claritas est etiam 
                                                    processus. ipsum dolor sit amet, consectetuer adipiscing</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo14" class="collapsed"><i class="fa fa-photo"></i> Different Graphic Design </a> </h5>
                                            </div>
                                            <div id="collapseTwo14" class="acod-body collapse">
                                                <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="acod-head">
                                                <h5 class="acod-title"> <a data-toggle="collapse"  href="#collapseThree14" class="collapsed"><i class="fa fa-cog"></i> Fast Developement </a> </h5>
                                            </div>
                                            <div id="collapseThree14" class="acod-body collapse">
                                                <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                                    dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rounded Accordion Style 4 END -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left & right section  END -->
        </div>
    </div>
    <!-- Content END-->
    <!-- Footer -->
{%endblock content%}
    