{% extends 'base.html' %} {% load static %} 

{% block title %}IKF Centre of Excellence (IKF-CoE) | Transform Your Academy into a Football Powerhouse{% endblock title %}

{% block meta_description %}Unleash the potential of your academy with the IKF Centre of Excellence (IKF-CoE) program. Elevate talent scouting, player development, and industry certification. Join the movement to shape the future of Indian football with IKF's expert guidance and certification programs.{% endblock meta_description%}

{% block meta_keywords %}IKF Centre of Excellence, football academy, talent scouting, football development, scouting certification, player development, football training, Indian football, IKF-CoE, sports certification, football career, football academy partnership{% endblock meta_keywords%} 

{% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content">
    <div style="height: 120px; background-color: white;"></div>

    <!-- contact area -->
    <div class="container m-t40">
        <div class="section-content">
            <div class="text-justify">
                <div class="col-lg-12 text-center section-head m-0">
                    <h1 class="h4">SKSS (IKF-CoE) Program
                    </h1>
                    <div class="dez-separator bg-primary"></div>
                </div>

                <div class="d-flex flex-row justify-content-center flex-wrap flex-md-nowrap">
                    <img loading="lazy" src="https://res.cloudinary.com/dooabwrei/image/upload/v1724138135/Skss-Hajiur-COE_ervmuv.jpg" alt="SKSS" style="width: 150px; height: 150px; border-radius: 100% ; margin-right: 10px;"/>
                    <div>
                        <p><span class="font-weight-bold h6">Welcome to the IKF Centre of Excellence at Hajipur!</span></br>
                            In collaboration with SKSSSS and Ansha Football Academy, we are proud to launch a premier training hub integrating elite football training with educational empowerment and community development.
                        </p>
                        <a class="m-0 text-info font-weight-bold" href="https://skssss.org/" target="_blank" rel="noopener noreferrer">Visit Website</a>
                    </div>
                </div>

                <p class="h6 mt-3 text-dark">Our Programs</p>
                <p>We offer tailored training programs for various age groups, emphasizing skill development, physical fitness, and tactical knowledge. Special initiatives focus on empowering young women and providing opportunities for underprivileged athletes.
                </p>

                <p class="h6 mt-3 text-dark">Facilities</p>
                <p>Our state-of-the-art facilities include professional-grade football pitches, educational classrooms, and residential accommodations designed to foster growth both on and off the field.
                </p>

                <p class="h6 mt-3 text-dark">Joining the CoE</p>
                <p>Interested in joining? Check out our detailed application process and eligibility criteria. We provide scholarships and financial aid to eligible candidates to ensure that every talented athlete has the chance to excel.</p>

                <p class="h6 mt-3 text-dark">Community Impact</p>
                <p>We are committed to using football as a tool for social change. Our programs aim to improve life skills, promote gender equality, and boost community health and well-being.</p>

                <p class="h6 mt-3 text-dark">Stay Updated</p>
                <p>For the latest news and updates on our programs, achievements, and more, visit our News section. Join us in shaping the future of football in India!</p>

                <hr/>
                <p class="font-weight-bold text-center" style="font-size: 16px;">Contact Us Today:
                    <br/>
                      Email us: <a class="text-info" href="https://mail.google.com/mail/?view=cm&fs=1&to=ikfcoe@indiakhelofootball.com" target="_blank" rel="noopener">ikfcoe@indiakhelofootball.com</a>
                </p>
            </div>
        </div>
    </div>
        <!-- contact area END -->
</div>
    <!-- Content END-->
    {% endblock content %}