<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="SpotOnn & India Khelo Football collaborate with Tyger Capital to revolutionize football in Rajasthan by identifying and nurturing talent. Join the Tyger IKF Trials in Jaipur, Udaipur, Ajmer, Jodhpur, Kota, and more!"
    />
    <meta
      name="keywords"
      content="SpotOnn, India Khelo Football, Tyger Capital, Rajasthan Football, grassroots football, football trials, football in India, sports coaching, IoT in sports"
    />
    <meta name="author" content="SpotOnn & India Khelo Football" />
    <meta
      property="og:title"
      content="SpotOnn & India Khelo Football Collaborate with Tyger Capital to Revolutionize Football in Rajasthan"
    />
    <meta
      property="og:description"
      content="Transforming football in Rajasthan by nurturing undiscovered talent across urban and rural areas. Join the Tyger IKF Trials!"
    />
    <meta property="og:url" content="https://openinapp.link/m6b42" />
    <meta property="og:image" content="URL_TO_YOUR_IMAGE" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="SpotOnn & India Khelo Football Collaborate with Tyger Capital"
    />
    <meta
      name="twitter:description"
      content="Join the Tyger IKF Trials to revolutionize football in Rajasthan by discovering new talent."
    />
    <meta name="twitter:image" content="URL_TO_YOUR_IMAGE" />
    <meta name="twitter:site" content="@YourTwitterHandle" />
    <title>SpotOnn & India Khelo Football Collaborate with Tyger Capital</title>
    <!-- Add favicon link if available -->
    <link
      rel="icon"
      href="https://res.cloudinary.com/dooabwrei/image/upload/v1722326323/IKF_Logo-png-min_11zon_ksovp8.webp"
    />
  </head>
  <body>
    <div
      style="
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 15px;
        text-align: center;
      "
    >
      <p>
        For English :
        <a
          style="font-weight: bold; color: #007bff"
          href="ikf-spotonn-announcement-en"
          >Click Here!</a
        >
      </p>

      <h2>
        बड़ी खबर: स्पॉटऑन और इंडिया खेलो फुटबॉल ने राजस्थान में फुटबॉल में
        क्रांति लाने के लिए टाइगर कैपिटल के साथ सहयोग किया!
      </h2>

      <div
        style="
          display: flex;
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;
          gap: 10px;
        "
      >
        <img
          style="width: 200px"
          src="https://res.cloudinary.com/dooabwrei/image/upload/v1722326323/IKF_Logo-png-min_11zon_ksovp8.webp"
          alt="ikf-logo"
        />
        <img
          class="m-r10"
          style="width: 250px"
          src="https://res.cloudinary.com/dooabwrei/image/upload/v1722326323/Rajasthan-_Spot_Onn-min_11zon_zkneop.webp"
          alt="spotonn-logo"
        />
        <img
          style="width: 200px"
          src="https://res.cloudinary.com/dooabwrei/image/upload/v1722326543/Tyger_Master_Logo-min_11zon_fnw6rp.webp"
          alt="tygere-logo"
        />
      </div>

      <div style="text-align: justify; padding: 15px">
        <p>
          हम खेल कोचिंग और प्रबंधन में अग्रणी SpotOnn और इंडिया खेलो फुटबॉल
          (IKF) के बीच एक गतिशील साझेदारी की घोषणा करते हुए बेहद रोमांचित हैं!
          यह सहयोग शहरी और ग्रामीण क्षेत्रों में अनदेखी प्रतिभाओं की पहचान करके
          और उन्हें बढ़ावा देकर राजस्थान में फुटबॉल परिदृश्य को बदलने के लिए
          तैयार है।
        </p>

        <p>
          <span style="font-weight: bold"
            >इंडिया खेलो फुटबॉल (IKF) के बारे में: </span
          >IKF जमीनी स्तर की प्रतिभाओं को सीधे पेशेवर लीग से जोड़कर भारतीय
          फुटबॉल में क्रांति ला रहा है। खेल तक पहुँच को लोकतांत्रिक बनाने के लिए
          समर्पित, IKF हर महत्वाकांक्षी फुटबॉलर को सफलता का उचित मौका देने के
          लिए प्रतिबद्ध है।
        </p>

        <p>
          <span style="font-weight: bold">SpotOnn के बारे में: </span>IoT तकनीक
          को खेल कोचिंग के साथ एकीकृत करने वाली भारत की पहली खेल प्रबंधन फर्म के
          रूप में, SpotOnn डेटा-संचालित अंतर्दृष्टि के साथ एथलीट प्रशिक्षण और
          प्रदर्शन को बदल देता है। SpotOnn युवाओं के लिए दैनिक जीवन का एक अभिन्न
          अंग खेल खेलने के लिए समर्पित है, जो निरंतर जुड़ाव और विकास को बढ़ावा
          देता है।
        </p>

        <p>
          <span style="font-weight: bold">टाइगर कैपिटल के बारे में: </span>टाइगर
          कैपिटल सुलभ वित्तीय समाधान प्रदान करने में माहिर है, विशेष रूप से
          अर्ध-शहरी और ग्रामीण क्षेत्रों में उद्यमियों और घर के मालिकों को सशक्त
          बनाने पर ध्यान केंद्रित करता है। वित्तपोषण प्रक्रियाओं को सरल बनाने की
          उनकी प्रतिबद्धता क्षेत्रीय और राष्ट्रीय आर्थिक विकास पहलों के साथ
          संरेखित है।
        </p>

        <p>
          <span style="font-weight: bold"
            >टाइगर आईकेएफ ट्रायल्स ने राजस्थान में लहराया परचम: </span
          >तैयार हो जाइए, क्योंकि टाइगर IKF ट्रायल्स शानदार शहरों-
          <span style="font-weight: bold"
            >जयपुर, उदयपुर, अजमेर, जोधपुर, कोटा, सीकर, बीकानेर और
            श्रीगंगानगर</span
          >
          - और जीवंत गाँवों-
          <span style="font-weight: bold"
            >दुदू, बांसवाड़ा, टोंक, पाली, नागौर, बूंदी, नोखा, झुंझुनू और
            हनुमानगढ़</span
          >
          तक फैल रहे हैं। यह विस्तार सिर्फ़ एक कदम नहीं है; यह राजस्थान में
          फ़ुटबॉल के दीवानों के लिए एक बड़ी छलांग है!
        </p>

        <p>
          <span style="font-weight: bold"
            >ग्रामीण प्रतिभाओं को सशक्त बनाना: </span
          >हमारा मानना है कि हर महत्वाकांक्षी फ़ुटबॉलर को अपनी वित्तीय पृष्ठभूमि
          की परवाह किए बिना गौरव हासिल करने का मौका मिलना चाहिए। इसलिए हम अपने
          गाँव के आयोजन स्थलों के लिए रियायती दरें शुरू कर रहे हैं, और कुछ विशेष
          मामलों में, हम मुफ़्त भागीदारी की पेशकश कर रहे हैं। क्योंकि जहाँ
          प्रतिभा है, वहाँ कोई बाधा नहीं होनी चाहिए!
        </p>

        <h4 style="font-weight: bold">अभी पंजीकरण करें:</h4>

        <p style="font-weight: bold; text-align: left">
          🏙️ शहरी उत्साही के लिए:
          <a
            style="color: #007bff; font-size: 16px"
            target="_blank"
            href="https://openinapp.link/m6b42"
            >https://openinapp.link/m6b42
          </a>
        </p>

        <p style="font-weight: bold; text-align: left">
          🌾 गांव के नायकों के लिए:
          <a
            style="color: #007bff; font-size: 16px"
            target="_blank"
            href="https://forms.gle/xorHaG4cYz7UF8c26"
            >https://forms.gle/xorHaG4cYz7UF8c26
          </a>
        </p>

        <p>
          कुछ अभूतपूर्व का हिस्सा बनने के इस अविश्वसनीय अवसर को न चूकें।
          राजस्थान में फुटबॉल सितारों की अगली पीढ़ी के लिए मार्ग प्रशस्त करने
          में हमारे साथ जुड़ें!
        </p>
      </div>
    </div>
  </body>
</html>
