<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="SpotOnn & India Khelo Football collaborate with Tyger Capital to revolutionize football in Rajasthan by identifying and nurturing talent. Join the Tyger IKF Trials in Jaipur, Udaipur, Ajmer, Jodhpur, Kota, and more!"
    />
    <meta
      name="keywords"
      content="SpotOnn, India Khelo Football, Tyger Capital, Rajasthan Football, grassroots football, football trials, football in India, sports coaching, IoT in sports"
    />
    <meta name="author" content="SpotOnn & India Khelo Football" />
    <meta
      property="og:title"
      content="SpotOnn & India Khelo Football Collaborate with Tyger Capital to Revolutionize Football in Rajasthan"
    />
    <meta
      property="og:description"
      content="Transforming football in Rajasthan by nurturing undiscovered talent across urban and rural areas. Join the Tyger IKF Trials!"
    />
    <meta property="og:url" content="https://openinapp.link/m6b42" />
    <meta property="og:image" content="URL_TO_YOUR_IMAGE" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="SpotOnn & India Khelo Football Collaborate with Tyger Capital"
    />
    <meta
      name="twitter:description"
      content="Join the Tyger IKF Trials to revolutionize football in Rajasthan by discovering new talent."
    />
    <meta name="twitter:image" content="URL_TO_YOUR_IMAGE" />
    <meta name="twitter:site" content="@YourTwitterHandle" />
    <title>SpotOnn & India Khelo Football Collaborate with Tyger Capital</title>
    <!-- Add favicon link if available -->
    <link
      rel="icon"
      href="https://res.cloudinary.com/dooabwrei/image/upload/v1722326323/IKF_Logo-png-min_11zon_ksovp8.webp"
    />
  </head>
  <body>
    <div
      style="
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 15px;
        text-align: center;
      "
    >
      <div>
        <p>
          हिंदी के लिए :
          <a
            style="font-weight: bold; color: #007bff"
            href="ikf-spotonn-announcement-hi"
            >यहाँ Click करे।</a
          >
        </p>

        <h2>
          Big News: SpotOnn & India Khelo Football Collaborate with Tyger
          Capital to Revolutionize Football in Rajasthan!
        </h2>
        <div></div>
      </div>

      <div
        style="
          display: flex;
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;
          gap: 10px;
        "
      >
        <img
          style="width: 200px"
          src="https://res.cloudinary.com/dooabwrei/image/upload/v1722326323/IKF_Logo-png-min_11zon_ksovp8.webp"
          alt="ikf-logo"
        />
        <img
          class="m-r10"
          style="width: 250px"
          src="https://res.cloudinary.com/dooabwrei/image/upload/v1722326323/Rajasthan-_Spot_Onn-min_11zon_zkneop.webp"
          alt="spotonn-logo"
        />
        <img
          style="width: 200px"
          src="https://res.cloudinary.com/dooabwrei/image/upload/v1722326543/Tyger_Master_Logo-min_11zon_fnw6rp.webp"
          alt="tygere-logo"
        />
      </div>

      <div style="text-align: justify; padding: 15px">
        <p>
          We are beyond thrilled to announce a dynamic partnership between
          SpotOnn, a leader in sports coaching and management, and India Khelo
          Football (IKF)! This collaboration is set to transform the football
          scene in Rajasthan by identifying and nurturing undiscovered talent
          across urban and rural areas.
        </p>
        <p>
          <span style="font-weight: bold"
            >About India Khelo Football (IKF): </span
          >IKF is revolutionizing Indian football by connecting grassroots
          talent directly with professional leagues. Dedicated to democratizing
          access to the sport, IKF is committed to giving every aspiring
          footballer a fair shot at success.
        </p>
        <p>
          <span style="font-weight: bold">About SpotOnn: </span>As India's first
          sports management firm to integrate IoT technology with sports
          coaching, SpotOnn transforms athlete training and performance with
          data-driven insights. SpotOnn is dedicated to playing sports a staple
          of daily life for the youth, promoting sustained engagement and
          development.
        </p>
        <p>
          <span style="font-weight: bold">About Tyger Capital: </span>Tyger
          Capital specializes in providing accessible financial solutions,
          particularly focusing on empowering entrepreneurs and homeowners in
          semi-urban and rural areas. Their commitment to simplifying financing
          processes aligns with regional and national economic growth
          initiatives.
        </p>
        <p>
          <span style="font-weight: bold"
            >Tyger IKF Trials Take Over Rajasthan: </span
          >Get ready, because the Tyger IKF trials are expanding to
          electrifying cities—
          <span style="font-weight: bold"
            >Jaipur, Udaipur, Ajmer, Jodhpur, Kota, Sikar, Bikaner, and Sri
            Ganganagar</span
          >—and vibrant villages—
          <span style="font-weight: bold"
            >Dudu, Banswara, Tonk, Pali, Nagaur, Bundi, Nokha, Jhunjhunnu and
            Hanumangarh.</span
          >
          This expansion is not just a step; it's a giant leap for football
          enthusiasts in Rajasthan!
        </p>
        <p>
          <span style="font-weight: bold">Empowering Rural Talent: </span>We
          believe every aspiring footballer deserves a shot at glory, regardless
          of their financial background. That’s why we’re rolling out subsidized
          rates for our village venues, and in some special cases, we’re
          offering free participation. Because where there’s talent, there
          should be no barriers!
        </p>

        <h4 style="font-weight: bold">Sign Up Now:</h4>

        <p style="font-weight: bold; text-align: left">
          🏙️ For City Slickers:
          <a
            style="color: #007bff; font-size: 16px"
            target="_blank"
            href="https://openinapp.link/m6b42"
            >https://openinapp.link/m6b42
          </a>
        </p>

        <p style="font-weight: bold; text-align: left">
          🌾 For Village Heroes:
          <a
            style="color: #007bff; font-size: 16px"
            target="_blank"
            href="https://forms.gle/xorHaG4cYz7UF8c26"
            >https://forms.gle/xorHaG4cYz7UF8c26
          </a>
        </p>

        <p>
          Don't miss this incredible opportunity to be a part of something
          groundbreaking. Join us in paving the path for the next generation of
          football stars in Rajasthan!
        </p>
      </div>
    </div>
  </body>
</html>
