{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content bg-white" style="padding: 70px;">
    <div style="height: 120px; background-color: white;"></div>

    <!-- contact area -->
    <div class="section-full content-inner">
        <!-- Career -->
        <div class="container">
            <div class="row">
                <!-- Left part start -->
                <div class="col-lg-9 m-b30">
                    <h1 class="m-b20 m-t0">Student-Athlete Opportunities in U.S. Universities</h1>
                    <div class="dez-separator bg-primary"></div>
                    <p><strong>IKF collaborates with global partners to help players secure placements in U.S. universities as student-athletes. This pathway is ideal for those who wish to balance academics with collegiate-level football.</strong></p>
                    <p><strong>Players benefit from scholarship opportunities that reduce financial barriers while enabling them to pursue higher education alongside competitive football leagues like NCAA Division I, II, or III, the NAIA and the NJCAA.</strong></p>
                    <p><strong>Beyond education, this pathway provides long-term career security, allowing players to transition into professional leagues or pursue careers outside of football.</strong></p>

                    <h3>Advantages:</h3>
                    <ul class="list-check-circle primary">
                        <li>Combines academic excellence with athletic development.</li>
                        <li>Opens doors to professional football leagues post-graduation.</li>
                        <li>Provides a safety net through degree programs for life after sports.</li>
                    </ul>

                    <div class="dez-separator bg-primary"></div>
                    <p><strong>Contact us on indiakhelofootball@gmail.com to start conversation.</strong></p>
                </div>
                <!-- Left part start END -->
            </div>
        </div>
        <!-- Career END -->
    </div>
    <!-- contact area END -->
</div>
<!-- Content END-->
<!-- Footer -->
{% endblock content %}
