{% extends 'base.html' %} {% load static %} 

{% block title %}IKF Centre of Excellence (IKF-CoE) | Transform Your Academy into a Football Powerhouse{% endblock title %}

{% block meta_description %}Unleash the potential of your academy with the IKF Centre of Excellence (IKF-CoE) program. Elevate talent scouting, player development, and industry certification. Join the movement to shape the future of Indian football with IKF's expert guidance and certification programs.{% endblock meta_description%}

{% block meta_keywords %}IKF Centre of Excellence, football academy, talent scouting, football development, scouting certification, player development, football training, Indian football, IKF-CoE, sports certification, football career, football academy partnership{% endblock meta_keywords%} 

{% block content %}
<!-- header END -->
<!-- Content -->
<div class="page-content">
    <div style="height: 120px; background-color: white;"></div>
    
    <!-- contact area -->
    <div class="container m-t40">
        <div class="section-content">
            <div class="text-justify">
                <div class="col-lg-12 text-center section-head m-0">
                    <h1 class="h4">3lok Football Fitness (IKF-CoE) Program
                    </h1>
                    <div class="dez-separator bg-primary"></div>
                </div>

                <div class="d-flex flex-row justify-content-center flex-wrap flex-md-nowrap">
                    <img loading="lazy" src="https://res.cloudinary.com/dooabwrei/image/upload/v1724137799/3lok-compressed-png_xx76wb.jpg" alt="IMT Ghaziabad" style="width: 150px; height: 150px; border-radius: 100% ; margin-right: 10px;"/>
                    <div>
                        <p>In collaboration with 3lok Football Fitness Hub, IKF is thrilled to launch the Centre of Excellence at the vibrant location in Bengaluru. This partnership aims to fuse 3lok Football Fitness Hub’s state of art facility with IKF’s proven football trials and International Partner Workshops.<br/>
                        To empower football enthusiast with best state of art infrastructure and connecting players with opportunities from across the globe. Our goal is to provide a comprehensive athletic environment that nurtures talent from the grassroots to professional levels. 
                        </p>
                        <a class="m-0 text-info font-weight-bold" href="https://www.3lokfootball.com/" target="_blank" rel="noopener noreferrer">Visit Website</a>
                    </div>
                </div>

                <p class="h6 mt-3 text-dark mb-4">Program Highlights</p>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">IKF Scouting Certification Courses: </span> Designed to train aspiring football scouts with methodologies and tools essential for talent identification and team dynamics.</li>
                    <li class="list-group-item"><span class="font-weight-bold">Career Guidance in Sports: </span> Dedicated sessions and workshops to help Threelok Football Fitness Hub students navigate career paths in professional football ecosystem, leveraging IKF’s extensive network.</li>
                </ul>

                <p class="h6 mt-3 text-dark">Facilities</p>
                <p>Leverage 3lok Football Fitness Hub’s state-of-the-art facilities, including training grounds and various other facilities, complemented by IKF’s technology-driven training resources.
                </p>

                <p class="h6 mt-3 text-dark">Community Engagement</p>
                <p>Providing not just an ecosystem but a community for nurturing a safe space where football acts as a base for likeminded people.
                </p>

                <p class="h6 mt-3 text-dark">Join Us</p>
                <p>Explore the paths where best facilities in Bengaluru aligns with your passion for football. Enroll in our programs to transform your enthusiasm into a rewarding career with the help of seasoned professionals from IKF and Threelok Football Fitness Hub.
                </p>

                <hr/>
                <p class="font-weight-bold text-center" style="font-size: 16px;">Contact Us Today:
                    <br/>
                      Email us: <a class="text-info" href="https://mail.google.com/mail/?view=cm&fs=1&to=ikfcoe@indiakhelofootball.com" target="_blank" rel="noopener">ikfcoe@indiakhelofootball.com</a>
                </p>
            </div>
        </div>
    </div>
        <!-- contact area END -->
</div>
    <!-- Content END-->
    {% endblock content %}